/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;1,200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
d-flex {
  display: flex;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-strech {
  align-items: stretch;
}

.align-bottom {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.align-top {
  align-items: flex-start;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.resize-overlay {
  z-index: 9999999;
  background-color: rgba(11, 40, 68, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.2s opacity ease-in-out;
  visibility: hidden;
}

.resize .resize-overlay {
  opacity: 1;
  visibility: visible;
}

.thin-text {
  font-size: 21px;
  font-weight: 100;
}
@media (max-width: 767.98px) {
  .thin-text {
    font-size: 18px;
  }
}

.story.regular {
  font-size: 21px;
  font-weight: 100;
}
@media (max-width: 767.98px) {
  .story.regular {
    font-size: 18px;
  }
}

.main-title-story {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
@media (max-width: 767.98px) {
  .main-title-story {
    font-size: 40px;
  }
}

.subtitle-story {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-top: 0;
}
@media (max-width: 767.98px) {
  .subtitle-story {
    font-size: 24px;
  }
}

.content-section p.quote {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}
@media (max-width: 767.98px) {
  .content-section p.quote {
    margin-top: auto;
    font-size: 24px;
    max-width: 100%;
  }
}

.half-left-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
}
.half-left-overlay.mobile {
  display: none !important;
}
@media (max-width: 767.98px) {
  .half-left-overlay {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
  }
  .half-left-overlay.mobile {
    display: block !important;
  }
}

.half-right-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  background: black;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 80%);
}
.half-right-overlay.mobile {
  display: none !important;
}
@media (max-width: 767.98px) {
  .half-right-overlay {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
  }
  .half-right-overlay.mobile {
    display: block !important;
  }
}

.half-bottom-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
  background: black;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 62%);
}
@media (max-width: 767.98px) {
  .half-bottom-overlay {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
  }
}

.bg-blue-overlay {
  background: url("../images/blue-overlay.png");
  background-size: cover;
}

.half-blue-left-overlay {
  background: linear-gradient(90deg, #0b2844 0%, rgba(11, 40, 68, 0) 80%);
  background-size: cover;
}
@media (max-width: 767.98px) {
  .half-blue-left-overlay {
    background: linear-gradient(360deg, #0b2844 0%, rgba(11, 40, 68, 0) 80%);
  }
}

.half-blue-right-overlay {
  background: linear-gradient(-90deg, #0b2844 0%, rgba(11, 40, 68, 0) 80%);
  background-size: cover;
}
@media (max-width: 767.98px) {
  .half-blue-right-overlay {
    background: linear-gradient(360deg, #0b2844 0%, rgba(11, 40, 68, 0) 80%);
  }
}

.content-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5%;
  box-sizing: border-box;
}
@media (max-width: 767.98px) {
  .content-section {
    padding: 30px 20px;
  }
}

.half-width {
  width: 50%;
}
.half-width img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .half-width {
    width: 100%;
  }
}

.card-box {
  max-width: 45%;
}
.card-box.w-50 {
  max-width: 50%;
}
.card-box.w-55 {
  max-width: 55%;
}
.card-box.w-60 {
  max-width: 60%;
}
.card-box.w-65 {
  max-width: 65%;
}
@media (max-width: 767.98px) {
  .card-box {
    max-width: 100% !important;
    width: 100%;
  }
}

.center-box {
  flex-direction: column;
  width: 50%;
  justify-content: flex-end;
  text-align: center;
  margin: 0 auto;
}
.center-box .list-box-opacity {
  background: #0b2844cc;
  margin-bottom: 10%;
  padding: 3%;
  min-width: 100%;
}
.center-box .list-box-opacity:last-child {
  margin: 0;
}
@media (max-width: 767.98px) {
  .center-box {
    width: 100%;
  }
  .center-box .list-box-opacity {
    padding: 20px;
    min-width: auto;
    width: 100%;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

.navbar-right {
  position: fixed;
  height: 100%;
  z-index: 99;
  width: 67px;
  background-color: rgba(53, 87, 112, 0.9);
  right: -67px;
  transition: all 0.2s ease-in-out;
}
.navbar-right .nav-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar-right .nav-item ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navbar-right .nav-item ul .list-menu {
  border-bottom: 1px solid #507680;
}
.navbar-right .nav-item ul .list-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #84b4c7;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 10px 9px 10px;
}
.navbar-right .nav-item ul .list-menu a p {
  margin: 0;
  padding-top: 10px;
  font-size: 13px;
  line-height: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
}
.navbar-right .nav-item ul #chapter {
  text-align: center;
  background-color: transparent;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  overflow: hidden;
}
.navbar-right .nav-item ul #chapter p {
  font-size: 13px;
  padding: 8px 0;
  color: #355770;
  font-family: "Montserrat";
  font-size: 11px;
  text-decoration: none;
  margin: 0;
  transition: 0.2s all ease-in-out;
}
.navbar-right .nav-item ul #chapter a {
  color: #355770;
  font-family: "Montserrat";
  font-size: 11px;
  text-decoration: none;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  background: rgba(105, 160, 207, 0.6);
}
.navbar-right .nav-item ul #chapter a.active {
  background-color: rgba(0, 132, 195, 0.6);
}
.navbar-right .nav-item ul #chapter .submenu li {
  border-bottom: 1px solid #355770;
}
.navbar-right .nav-item ul .share {
  border-bottom: 0;
  border-top: 1px solid #507680;
}
.navbar-right .nav-item .brand {
  text-align: center;
  padding-top: 10px;
}
.navbar-right .nav-item .fullscreen-toggle {
  border-bottom: 0;
  border-top: 1px solid #507680;
  margin-top: auto;
  border-bottom: 1px solid #507680;
}
.navbar-right .nav-item .fullscreen-toggle a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #84b4c7;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 10px 9px 10px;
}
.navbar-right .nav-item .fullscreen-toggle a p {
  margin: 0;
  padding-top: 10px;
  font-size: 13px;
  line-height: 15px;
  overflow: hidden;
  transition: all 0.2s ease;
}
.navbar-right .nav-item ul.submenu {
  padding-top: 0;
  border-top: 1px solid #355870;
}
.navbar-right .nav-item.open ul #chapter {
  max-height: 100%;
  opacity: 1;
}
.navbar-right .nav-item.open ul .list-menu a p {
  height: 0;
  padding-top: 0;
  opacity: 0;
}
.navbar-right .nav-item.open ul .list-menu#nav-toggle p {
  height: auto;
  padding-top: auto;
  opacity: 1;
}
.navbar-right .nav-item.open .fullscreen-toggle p {
  height: 0;
  padding-top: 0;
  opacity: 0;
}
.navbar-right .navbar-toggle {
  cursor: pointer;
  width: 30px;
  height: 86px;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  border-radius: 7px 0 0 7px;
  background-color: rgba(53, 87, 112, 0.9);
  position: absolute;
  display: flex;
}
.navbar-right .navbar-toggle .icon-container {
  margin: auto;
  transition: all 0.2s ease-in-out;
}
.navbar-right.expanded {
  right: 0;
}
.navbar-right.expanded .icon-container {
  transform: rotate(180deg);
}
@media (max-width: 767.98px) {
  .navbar-right {
    width: 130px;
    right: -130px;
  }
  .navbar-right .nav-item ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .navbar-right .nav-item ul .list-menu {
    width: 100%;
  }
  .navbar-right .nav-item ul .list-menu a {
    padding: 10px 5px 9px 5px;
  }
  .navbar-right .nav-item ul .list-menu.mobile-50 {
    width: 50%;
  }
  .navbar-right .nav-item ul .list-menu.mobile-50 + .mobile-50 {
    width: calc(50% - 1px);
    border-left: 1px solid #507680;
  }
  .navbar-right .nav-item ul .submenu li {
    width: 50%;
  }
  .navbar-right .nav-item ul .submenu li:nth-child(n+1) {
    width: calc(50% - 1px);
    border-left: 1px solid #355770;
  }
  .navbar-right .fullscreen-toggle {
    display: none;
  }
}

.toc-list .sublist {
  padding-left: 36px;
}
.toc-list .sublist .avatar img {
  width: 100%;
  margin-right: 0;
}
.toc-list .sublist .avatar img:hover {
  filter: none;
}
.toc-list .sublist .story-link {
  padding-right: 40px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: end;
  cursor: pointer;
  text-decoration: none;
}
.toc-list .sublist .story-link .name {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
  color: #fff;
  text-decoration: none;
}
.toc-list .sublist .story-link .line {
  width: 30%;
  position: relative;
}
.toc-list .sublist .story-link .line:after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  background: #fff;
  height: 1px;
  right: -50px;
  z-index: 2;
  transition: 0.2s all ease-in-out;
}
.toc-list .sublist .story-link .avatar-container {
  flex-grow: 1;
  display: flex;
}
.toc-list .sublist .story-link .avatar-container .line {
  flex-grow: 1;
}
.toc-list .sublist .story-link .avatar {
  display: flex;
  width: 50px;
  position: relative;
}
.toc-list .sublist .story-link .avatar img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.2s all ease-in-out;
  margin-top: auto;
}
.toc-list .sublist .story-link:hover .avatar img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.toc-list .sublist .story-link:hover .name {
  color: #66aedd;
}
.toc-list .sublist .story-link:hover .line:after {
  background-color: #66aedd;
}
.toc-list img {
  width: 10px;
  margin-right: 10px;
}
.toc-list .village-toc {
  text-decoration: none;
  color: #66aedd;
  transition: 0.2s all ease-in-out;
}
.toc-list .village-toc:hover {
  color: #0084c3;
}

ul.toc-list > li {
  padding-bottom: 30px;
}

.toc .toc-title {
  display: flex;
  margin-right: 40px;
}
.toc .heavy-text {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.toc .image-left {
  position: relative;
  margin-top: 8px;
}
.toc .image-left img {
  height: 35px;
}
.toc .content-table {
  width: 100%;
}
.toc .content-table p {
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
}
.toc .content-table .toc-left {
  width: 40%;
}
.toc .content-table .toc-right {
  width: 60%;
}
.toc .content-table .toc-right .toc-list-wrapper {
  width: 100%;
  align-items: baseline;
}
.toc .content-table .toc-right .toc-list-wrapper .toc-list {
  width: 50%;
}
@media (max-width: 767.98px) {
  .toc .content-table {
    flex-direction: column;
  }
  .toc .content-table .toc-left {
    width: 100%;
  }
  .toc .content-table .toc-left .toc-title {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .toc .content-table .toc-left .toc-title .heavy-text {
    font-size: 18px;
  }
  .toc .content-table .toc-left .image-left {
    margin-top: 0;
  }
  .toc .content-table .toc-left .image-left img {
    height: 18px;
    margin-bottom: 0;
  }
  .toc .content-table p {
    padding: 5px 0;
    font-size: 14px;
  }
  .toc .content-table .toc-right {
    width: 100%;
  }
  .toc .content-table .toc-right .heading-toc {
    font-size: 14px;
    display: none;
  }
  .toc .content-table .toc-right .toc-list-wrapper {
    flex-direction: column;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list {
    width: 100%;
    justify-content: center;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list li {
    padding-bottom: 10px;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .village-toc {
    font-size: 14px;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .village-toc div {
    justify-content: center;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .sublist {
    display: flex;
    padding-left: 0;
    justify-content: center;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .sublist .story-link {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px 10px;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .sublist .story-link .name {
    padding-top: 5px;
    letter-spacing: 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .sublist .story-link .avatar-container {
    margin: auto;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .sublist .story-link .avatar-container .line {
    display: none;
  }
  .toc .content-table .toc-right .toc-list-wrapper .toc-list .sublist .story-link .avatar-container .avatar img {
    filter: grayscale(0%);
  }
}
.toc .heading-toc a {
  border-bottom: 0 !important;
}

@media (max-width: 767.98px) {
  .section.story-opening .image-bg {
    background-position: 75% center;
  }
}

.content-section .title-story {
  background: #0b2844b5;
  padding: 5% 12%;
  color: #fff;
  margin-left: -9%;
  position: relative;
}
.content-section .title-story:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 8px;
  background: #0094d3;
}
.content-section .title-story::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  height: 100%;
  width: 8px;
  background: #66aedd;
}
.content-section .title-story h3.title {
  font-size: 73px;
  font-weight: 600;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.content-section .title-story h6.subtitle {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767.98px) {
  .content-section .title-story {
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 20px;
    width: 100%;
  }
  .content-section .title-story h3.title {
    font-size: 32px;
  }
  .content-section .title-story h6.subtitle {
    font-size: 20px;
  }
}

.section.book-layout {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.section.book-layout .content-section {
  padding: 0;
  position: fixed;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.section.book-layout .content-section .text-container {
  width: 30%;
  max-width: 40%;
  padding: 5%;
}
.section.book-layout .content-section .image-container {
  height: 100%;
  width: 60%;
  background-position: center;
  background-size: cover;
}
.section.book-layout .content-section .image-container .book-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section.book-layout .section-bg.book-image {
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section.book-layout.reversed .content-section {
  flex-direction: row-reverse;
}
.section.book-layout.reversed .section-bg.book-image {
  left: 0;
  right: auto;
}
.section.book-layout.active .content-section {
  opacity: 1;
}
@media (max-width: 767.98px) {
  .section.book-layout .content-section {
    flex-direction: column-reverse;
  }
  .section.book-layout .content-section .text-container {
    max-width: 100%;
    width: auto;
    padding: 40px 20px;
  }
  .section.book-layout .content-section .image-container {
    width: 100%;
  }
  .section.book-layout.reversed .content-section {
    flex-direction: column-reverse;
  }
}

.section.active + .section.section.book-layout.active .content-section {
  opacity: 1;
}

.image-scroll-group .content-section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.image-scroll-group.active .section {
  visibility: visible;
}
.image-scroll-group.active .content-section {
  position: fixed;
  opacity: 1;
}

#close-1 {
  visibility: visible;
}
#close-1 .blue-overlay {
  background-color: #0b2844;
  opacity: 0.6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

html {
  /* scroll-snap-type: mandatory; */
  /* scroll-snap-points-y: repeat(300px); */
  /* scroll-snap-type: y mandatory; */
}

body {
  /* max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; */
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.3;
}

p {
  margin-block-end: 15px;
  margin-block-start: 15px;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
  height: 0;
}

/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#fullpage {
  background-color: #0b2844;
}

section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
section .section-bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: opacity 1s ease-in-out;
}
section .section-bg.image-bg {
  background-color: #0b2844;
}
section .section-bg.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
section .section-bg.fixed {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
}
section .bg-overlay {
  transition: opacity 1s ease-in-out;
}
section .bg-overlay.fixed {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section .content-section {
  z-index: 2;
}
section .content-section.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
section .content-section p a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  transition: all 0.2s ease-in-out;
}
section .content-section p a:hover {
  color: #84b4c7;
  border-color: #84b4c7;
}
section .content-section .card-box.align-center {
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 767.98px) {
  section .content-section .card-box.align-center {
    margin-bottom: 0;
  }
}
section.active .content-section, section.origin .content-section, section.fp-completely .content-section {
  opacity: 1;
  visibility: visible;
}
section.active .section-bg, section.origin .section-bg, section.fp-completely .section-bg {
  opacity: 1;
  visibility: visible;
}
section.active .bg-overlay, section.origin .bg-overlay, section.fp-completely .bg-overlay {
  opacity: 1;
  visibility: visible;
}
section .bg-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  section .bg-video.video-controls {
    display: flex;
    align-items: center;
    background-color: #0b2844;
  }
  section .bg-video.video-controls video {
    width: 100%;
    height: auto;
    object-fit: unset;
  }
}
section .debug-id {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 10px;
  color: gray;
}

/* .container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */
.intro-logo-bottom-left {
  position: fixed;
  left: 5%;
  bottom: 8%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.intro-logo-bottom-left .logo img {
  max-height: 120px;
}
@media (max-width: 767.98px) {
  .intro-logo-bottom-left {
    left: 20px;
    right: 50%;
    text-align: right;
    bottom: 40px;
  }
  .intro-logo-bottom-left .logo img {
    max-height: 55px;
    max-width: 100%;
  }
}

.intro-logo-bottom-right {
  position: fixed;
  right: 5%;
  bottom: 8%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.intro-logo-bottom-right .logo img {
  max-height: 90px;
}
@media (max-width: 767.98px) {
  .intro-logo-bottom-right {
    left: 20px;
    right: 50%;
    text-align: right;
    bottom: 110px;
  }
  .intro-logo-bottom-right .logo img {
    max-height: 50px;
    max-width: 100%;
  }
}

.active .intro-logo-bottom-left {
  opacity: 1;
}
.active .intro-logo-bottom-right {
  opacity: 1;
}

/* section .image-fixed {
  position: fixed;
} */
#intr-1,
#intr-2 {
  /* background-image: url(../images/int-1.jpeg); */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#intr-1 .left {
  /* background-image: url(../images/wel-1.png); */
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 7rem;
  justify-content: space-between;
  height: 100%;
}
#intr-1 .left h4 {
  max-width: 57%;
}
#intr-1 .right {
  /* background-image: url(../images/wel-2.png); */
  position: fixed;
  right: 0;
  top: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
  width: 34%;
  display: flex;
  flex-direction: column;
  padding-right: 7rem;
  box-sizing: border-box;
  padding-top: 5rem;
  align-items: unset;
  justify-content: end;
  padding-bottom: 8rem;
  height: 100%;
}
@media (max-width: 767.98px) {
  #intr-1 .left {
    background-image: url(../images/wel-mobile.png) !important;
    background-size: cover;
    background-position: top left;
    padding: 20px;
    width: 100%;
  }
  #intr-1 .left h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  #intr-1 .left h5 .image-left {
    margin-right: 10px;
  }
  #intr-1 .left h5 .image-left img {
    height: 16px;
    margin-bottom: -2px;
  }
  #intr-1 .left h4 {
    max-width: 100%;
    font-size: 20px;
  }
  #intr-1 .right {
    display: none;
  }
}

#intr-2 .left {
  justify-content: flex-end;
  height: 100%;
}

#intr-2 .right {
  height: 100%;
}

#intr-1 .left .logo {
  width: 50%;
}

#intr-2 .left .logo {
  width: 55%;
}

#intr-1 .content-section {
  padding: 0;
  justify-content: space-between;
}

.text-blue {
  color: #66aedd;
}

.text-white {
  color: #ffffff;
}

.heavy-text {
  font-size: 40px;
}

h5 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 36px;
}

.italic {
  font-style: italic;
}

.bg-blue {
  background: #0b2944;
}

.ta-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.box-center {
  margin: 0 auto;
}

.half-full-height-blue-opacity {
  background-color: rgba(0, 132, 195, 0.75);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 44%;
  padding: 0 4em;
  box-sizing: border-box;
}
.half-full-height-blue-opacity p:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .half-full-height-blue-opacity {
    top: auto;
    width: 100%;
    padding: 40px 20px;
  }
}

.half-full-height-blue-opacity-right {
  background-color: rgba(0, 132, 195, 0.75);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 44%;
  padding: 0 4em;
  box-sizing: border-box;
}
.half-full-height-blue-opacity-right p:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .half-full-height-blue-opacity-right {
    top: auto;
    width: 100%;
    padding: 40px 20px;
  }
}

.half-full-height-blue {
  background: #0b2844;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 44%;
  padding: 0 4em;
  box-sizing: border-box;
}

.half-full-height-blue-right {
  background: #0b2844;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 44%;
  padding: 0 4em;
  box-sizing: border-box;
}

.half-full-height-blue-right-small {
  background: #0b2844;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 29%;
  padding: 0 7em;
  box-sizing: border-box;
}

.half-full-height-blue-small {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 25%;
  padding: 0 7em;
  box-sizing: border-box;
}

.half-full-height-blue-opacity p.quote {
  width: auto;
  max-width: unset;
}

.half-full-height-blue-opacity p.quote span {
  display: block;
  text-align: right;
}

.blue-overlay {
  background-color: rgba(11, 40, 68, 0.6);
}
.blue-overlay.fixed {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.half-full-height-blue p.quote {
  max-width: 100%;
  line-height: 45px;
}

.wow {
  visibility: visible !important;
}

.image-left img {
  width: unset;
  margin-bottom: -4px;
  height: 35px;
}

.image-left {
  display: inline-block;
  vertical-align: unset;
  margin-right: 20px;
}

.medium-text {
  font-size: 40px;
}

.text-thin {
  font-weight: 100;
}

img.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* .video-background {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  top: 0;
  bottom: 0;
} */
.video-background iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bottom-overlay {
  background: #0b2844;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3em 3em;
}
.bottom-overlay .card-box {
  max-width: 65%;
}
.bottom-overlay .card-box p.regular {
  font-weight: 500;
  font-size: 21px;
  padding-top: 20px;
}
@media (max-width: 767.98px) {
  .bottom-overlay {
    padding: 40px 20px;
  }
  .bottom-overlay .card-box {
    max-width: 100%;
  }
  .bottom-overlay .card-box p.regular {
    font-size: 18px;
  }
}

.shape-overlay-1 {
  background: url("../images/overlay-shape-1.png");
  background-size: cover;
}

.shape-overlay-2 {
  background: url("../images/overlay-shape-2.png");
  background-size: cover;
}

/* 
.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */
.bg-video {
  width: 100vw;
  height: 100vh;
}

.bg-video.video-iframe {
  background-color: #0b2844;
}
.bg-video .iframe-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}
.bg-video .iframe-wrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 767.98px) {
  .bg-video .iframe-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 */
  }
}

.video-scroll .fp-tableCell {
  overflow: scroll;
  display: block;
  overscroll-behavior: contain;
}
.video-scroll .content-section {
  position: relative !important;
  padding: 0 5%;
}

.video-scroll .list-scroll {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-scroll .center-box {
  left: 0;
  right: 0;
  top: 0;
}

/* 
.bg-video iframe {
  width: 100%;
  padding-bottom: 56.5%;
  height: 100%;
} */
#intr-3 .section-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#intr-3 .section-bg.fixed {
  position: fixed;
}

#intr-3 .content-section {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#intr-3 .content-section .content-table {
  z-index: 9;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.right {
  display: flex;
  text-align: right;
  align-items: flex-end;
  width: 60%;
}

.right .logo {
  width: 78%;
  margin-left: auto;
}

#intr-2 .right .logo {
  width: 45%;
}

.right .logo img {
  object-fit: contain;
}

#intr-4 h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767.98px) {
  #intr-4 .content-section {
    align-items: flex-start;
  }
  #intr-4 h3 {
    font-size: 28px;
  }
  #intr-4 h3 .image-left {
    margin-right: 10px;
  }
  #intr-4 h3 .image-left img {
    max-height: 28px;
  }
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#st-6-12 img {
  position: relative;
  object-position: right;
  object-fit: contain;
}

#st-7-1 .content-section .title-story {
  padding-right: 4%;
}

.video-box {
  width: 480px;
  margin: 0 auto;
  padding-bottom: 56.6%;
  position: relative;
}

.video-box iframe {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.video-box #v-intr-12 {
  z-index: 999;
  height: unset;
  position: relative;
  width: 100%;
}

.partner-logo {
  max-width: 900px;
  margin: auto;
}
.partner-logo img {
  width: 100%;
  height: unset;
  object-fit: contain;
}

.image-scroll {
  position: absolute;
  width: 56%;
  right: 0;
  height: 100vh;
  top: 0;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
}

.image-scroll img {
  height: 100vh;
  object-fit: contain !important;
  width: unset;
  scroll-snap-align: start;
}

.image-scroll img:nth-child(2),
.image-scroll img:nth-child(3) {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.full-height {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-height .cardbox-overlay {
  max-width: 35%;
  padding: 0 1rem 0 4rem;
  box-sizing: border-box;
}

section#close-1 {
  position: relative;
}

.img-scroll {
  position: absolute;
  width: 20px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 14%;
}

.icon-scroll {
  position: absolute;
  left: 47%;
  right: 0;
  bottom: 3%;
  width: 50px;
  height: 50px;
  margin: auto;
  background: #1a2d4885;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-scroll img {
  width: 25px;
}

.img-scroll img {
  width: 100%;
}

.card-box p.quote-author {
  text-align: right;
  margin: 0;
}

#st-7-9 .content-section p.quote span {
  display: block;
  text-align: right;
}

#st-7-2 p.quote {
  margin: 0;
}

.cross .blue-overlay {
  background: #0e2e4ad9;
}

/* crossfade */
.fade {
  transition: opacity 0.7s ease-in;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.bg-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-video #player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.bg-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

section#closing-video .bg-video {
  z-index: 0;
}

/* Responsive */
@media screen and (min-height: 768px) and (max-height: 800px) {
  #intr-1 .left {
    padding-top: 0rem;
    padding-bottom: 3rem;
  }

  #intr-1 .left h4 {
    max-width: 80%;
  }

  #intr-1 .right {
    padding-bottom: 4rem;
  }

  .half-full-height-blue-small {
    width: 34%;
  }

  .navbar-right .nav-item ul li.chapter {
    height: 215px;
  }
}
@media screen and (min-height: 600px) and (max-height: 768px) {
  .navbar-right .nav-item ul li.chapter {
    height: 175px;
  }
}