/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;1,200&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@import 'partials/variable';
@import 'partials/utilities';

@import 'components/navbar';
@import 'components/toc';
@import 'components/book-layout';
@import 'components/image-scroll-layout';
@import 'components/vo';
@import 'components/closing';

html {
    /* scroll-snap-type: mandatory; */
    /* scroll-snap-points-y: repeat(300px); */
    /* scroll-snap-type: y mandatory; */
}

body {
    /* max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; */
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
    height: 0;
}

/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    // scroll-snap-align: start;
    .section-bg {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        &.image-bg{
            background-color: $color-blue-dark;
        }
        // visibility: hidden;
        // opacity: 0;
        // z-index: -2;
        // transition: all 0.2s ease-in-out;
        // transition-delay: 0.1s;
        // transition-property: visibility;
        &.greyscale {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
        }
    }
    .content-section {
        z-index: 2;
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
        }
        p a{
            color: #FFF;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px dotted #FFF;
            transition: all 0.2s ease-in-out;
            &:hover{
                color: #84b4c7;
                border-color: #84b4c7;
            }
        }
    }
    .bg-overlay {
        // visibility: hidden;
        // z-index: -1;
        // opacity: 0;
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.active {
        .section-bg {
            // opacity: 1;
            visibility: visible;
        }
        .bg-overlay {
            // opacity: 1;
            visibility: visible;
        }
    }

    .bg-video {
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .debug-id{
        position: absolute;
        z-index: 9999;
        top: 10px;
        left: 10px;
        color: gray;
    }
}

/* .container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */

section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-gate-left{
    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
}
.intro-gate-right{
    position: fixed;
    right: 0;
    top: 0;
}

.intro-logo-bottom-left {
    position: fixed;
    left: 5%;
    bottom: 8%;
    .logo {
        img {
            max-height: 120px;
        }
    }
}
.intro-logo-bottom-right {
    position: fixed;
    right: 5%;
    bottom: 8%;
    .logo {
        img {
            max-height: 90px;
        }
    }
}

/* section .image-fixed {
  position: fixed;
} */

#intr-1,
#intr-2 {
    /* background-image: url(../images/int-1.jpeg); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#intr-1 .left {
    /* background-image: url(../images/wel-1.png); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    box-sizing: border-box;
    padding-top: 5rem;
    padding-bottom: 7rem;
    justify-content: space-between;
    height: 100%;
}

#intr-1 .right {
    /* background-image: url(../images/wel-2.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 38%;
    display: flex;
    flex-direction: column;
    padding-right: 7rem;
    box-sizing: border-box;
    padding-top: 5rem;
    align-items: unset;
    justify-content: end;
    padding-bottom: 8rem;
    height: 100%;
}

#intr-2 .left {
    justify-content: flex-end;
    height: 100%;
}
#intr-2 .right {
    height: 100%;
}

#intr-1 .left .logo {
    width: 50%;
}

#intr-2 .left .logo {
    width: 55%;
}

#intr-1 .left h4 {
    max-width: 57%;
}

#intr-1 .content-section {
    padding: 0;
    justify-content: space-between;
}

#intr-3 {
    /* background-image: url(../images/bg-toc.png); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#intr-4,
#intr-5 {
    /* background-image: url(../images/int-2.png); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* #intr-5 {
  background-image: url(../images/int-2.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
} */

.content-section {
    position: absolute;
    // height: 100%;
    // max-height: 100%;
    // width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5%;
    box-sizing: border-box;
}

.content-section .title-story {
    background: #0b2844b5;
    padding: 5% 12%;
    color: #fff;
    margin-left: -9%;
    position: relative;
}

.content-section .title-story:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 8px;
    background: #0094d3;
}

.content-section .title-story:after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    height: 100%;
    width: 8px;
    background: #66aedd;
}

.title-story h3.title {
    font-size: 73px;
    font-weight: 600;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.title-story h6.subtitle {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-title-story {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.subtitle-story {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 0;
}

.text-blue {
    color: #66aedd;
}

.text-white {
    color: #ffffff;
}

.heavy-text {
    font-size: 40px;
}

h5 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 46px;
}

.italic {
    font-style: italic;
}

.bg-blue {
    background: #0b2944;
}

.content-section p.quote {
    font-size: 36px;
    max-width: 50%;
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

.ta-center {
    text-align: center;
}

.m-0 {
    margin: 0;
}

.box-center {
    margin: 0 auto;
}

.half-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: linear-gradient(94deg, rgba(0, 0, 0, 0.7763480392156863) 0%, rgba(0, 0, 0, 0) 62%);
}

.bottom-overlay-opacity {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: linear-gradient(359deg, rgba(0, 0, 0, 0.7763480392156863) 0%, rgba(0, 0, 0, 0) 62%);
}

.story.regular {
    font-size: 21px;
    font-weight: 100;
}

.card-box {
    max-width: 45%;
}

.half-full-height-blue-opacity {
    // background-color: #008ccb69;
    background-color: rgba(#0084c3, 0.75);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 44%;
    padding: 0 4em;
    box-sizing: border-box;
}

.half-full-height-blue-opacity-right {
    // background: #008ccb69;
    background-color: rgba(#0084c3, 0.75);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 44%;
    padding: 0 4em;
    box-sizing: border-box;
}

.half-full-height-blue {
    background: #0b2844;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 44%;
    padding: 0 4em;
    box-sizing: border-box;
}

.half-full-height-blue-right {
    background: #0b2844;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 44%;
    padding: 0 4em;
    box-sizing: border-box;
}

.half-full-height-blue-right-small {
    background: #0b2844;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 29%;
    padding: 0 7em;
    box-sizing: border-box;
}

.half-full-height-blue-small {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 25%;
    padding: 0 7em;
    box-sizing: border-box;
}

.half-full-height-blue-opacity p.quote {
    width: auto;
    max-width: unset;
}

.half-full-height-blue-opacity p.quote span {
    display: block;
    text-align: right;
}

.blue-overlay {
    // background: #0e2e4a9e;
    background-color:#0b2844;
    opacity: 0.6;
    &.fixed{
        // position: fixed;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
    }
}

.half-full-height-blue p.quote {
    max-width: 100%;
    line-height: 45px;
}

.wow {
    visibility: visible !important;
}

.image-left {
    img {
    width: unset;
    // height: 23px;
    margin-bottom: -4px;
    height: 35px;
    
    }
}

.image-left {
    display: inline-block;
    vertical-align: unset;
    margin-right: 20px;
}

.medium-text {
    font-size: 40px;
}

.thin-text {
    font-size: 21px;
    font-weight: 100;
}

.text-thin {
    font-weight: 100;
}

img.greyscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* .video-background {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  top: 0;
  bottom: 0;
} */

.video-background iframe {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bottom-overlay {
    background: #0b2844;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3em 3em;
}

.bottom-overlay .card-box {
    max-width: 65%;
}

.bottom-overlay .card-box p.regular {
    font-weight: 500;
    font-size: 21px;
    padding-top: 20px;
}

.shape-overlay-1 {
    background: url('../images/overlay-shape-1.png');
    background-size: cover;
}

.shape-overlay-2 {
    background: url('../images/overlay-shape-2.png');
    background-size: cover;
}

/* 
.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

.bg-video {
    width: 100vw;
    height: 100vh;
}

.bg-video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

.video-scroll .list-scroll {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-scroll .content-section {
    overflow: auto;
}

.video-scroll .center-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

/* 
.bg-video iframe {
  width: 100%;
  padding-bottom: 56.5%;
  height: 100%;
} */

.bg-blue-overlay {
    background: url('../images/blue-overlay.png');
    // z-index: 9;
    background-size: cover;
}

.blue-overlay-right {
    background: url('../images/blue-overlay-right.png');
    // z-index: 9;
    background-size: cover;
}

.bg-black-overlay {
    background: url('../images/black-overlay.png');
    // z-index: 9;
    background-size: cover;
}

.black-overlay-right {
    background: url('../images/black-overlay-right.png');
    // z-index: 9;
    background-size: cover;
}

.black-overlay-bottom {
    background: url('../images/black-overlay-bottom.png');
    // z-index: 9;
    background-size: cover;
}

#intr-3 .content-section {
    background: url('../images/toc.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#intr-3 .content-section:after {
    content: '';
    background: #192c46db;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

#intr-3 .content-section .content-table {
    z-index: 9;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right {
    display: flex;
    text-align: right;
    align-items: flex-end;
    width: 60%;
}

.right .logo {
    width: 78%;
    margin-left: auto;
}

#intr-2 .right .logo {
    width: 45%;
}

.right .logo img {
    object-fit: contain;
}

#intr-4 h3 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.center-box {
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    text-align: center;
    margin: 0 auto;
}

.center-box .list-box-opacity {
    background: #0b2844cc;
    margin-bottom: 10%;
    padding: 3%;
    min-width: 100%;
}

.center-box .list-box-opacity:last-child {
    margin: 0;
}

/* .video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
} */
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#st-2-2 .card-box,
#st-3-2 .card-box,
#st-3-3 .card-box {
    max-width: 56%;
}

#st-2-2 .card-box .quote,
#st-3-2 .card-box .quote,
#st-3-3 .card-box .quote {
    max-width: 100%;
}

section#st-2-5 .card-box {
    max-width: 60%;
}

#st-1-7 img,
#st-1-8 img,
#st-2-6 img,
#st-2-7 img,
#st-2-12 img,
#st-2-13 img,
#st-3-7 img,
#st-3-8 img,
#st-3-9 img,
#st-4-3 img,
#st-4-4 img,
#st-4-5 img,
/* #st-4-8 img, */
#st-5-8 img,
#st-5-9 img,
#st-5-10 img,
#st-6-3 img,
#st-6-4 img,
#st-6-11 img,
#st-6-12 img,
#st-7-4 img,
#st-7-10 img,
#st-7-11 img,
#st-8-5 img,
#st-8-6 img,
#st-8-7 img,
#st-8-10 img,
#st-8-11 img,
#st-8-12 img,
#st-8-13 img,
#st-9-7 img,
#st-9-8 img,
#st-9-9 img,
#st-9-10 img,
#st-10-3 img,
#st-10-4 img,
#st-10-10 img,
#st-10-11 img {
    position: relative;
    left: 0;
    object-position: right;
    object-fit: contain;
}

#st-6-12 img {
    position: relative;
    object-position: right;
    object-fit: contain;
}

#st-2-8 .content-section p.quote,
#st-2-9 .content-section p.quote,
#st-3-5 .content-section p.quote,
#st-4-2 .content-section p.quote,
#st-5-2 .content-section p.quote,
#st-5-5 .content-section p.quote,
#st-5-6 .content-section p.quote,
#st-6-2 .content-section p.quote,
#st-7-2 .content-section p.quote,
#st-7-9 .content-section p.quote,
#st-8-2 .content-section p.quote,
#st-8-4 .content-section p.quote,
#st-9-2 .content-section p.quote,
#st-9-4 .content-section p.quote,
#st-9-6 .content-section p.quote,
#st-10-2 .content-section p.quote,
#st-10-12 .content-section p.quote {
    max-width: 100%;
}

#st-2-8 .content-section .card-box {
    max-width: 51%;
}

#st-2-9 .content-section .card-box,
#st-2-10 .content-section .card-box {
    max-width: 64%;
}

#st-7-1 .content-section .title-story {
    padding-right: 4%;
}

#v-intr-8,
#v-intr-9,
#v-intr-12,
#v-intr-13,
#v-st-1-2,
#v-st-1-6,
#v-st-1-11,
#v-st-2-2,
#v-st-2-3,
#v-st-2-11,
#v-st-3-2,
/* #v-st-3-6, */
#v-st-3-10,
#v-st-4-5,
#v-st-6-2,
#v-close-2 {
    position: relative;
    object-fit: cover;
    width: 100%;
}

.video-box {
    width: 480px;
    margin: 0 auto;
    padding-bottom: 56.6%;
    position: relative;
}

.video-box iframe {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.video-box #v-intr-12 {
    z-index: 999;
    height: unset;
    position: relative;
    width: 100%;
}

.partner-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7rem 0 3rem;
}

.partner-logo img {
    width: 100%;
    height: unset;
    object-fit: contain;
}

section#st-1-7,
section#st-1-8,
section#st-2-6,
section#st-2-7,
section#st-2-12,
section#st-2-13,
section#st-3-13,
#st-4-3,
#st-4-4,
#st-4-5,
#st-4-9,
#st-5-8,
#st-5-9,
#st-5-10,
#st-6-3,
#st-6-11,
#st-6-12,
#st-6-13,
#st-6-14,
#st-6-15,
#st-7-4,
#st-7-10,
#st-7-11,
// #st-7-13,
#st-8-5,
#st-8-6,
#st-8-7,
#st-8-8,
#st-8-12,
#st-8-13,
#st-8-14,
#st-9-7,
#st-9-8,
#st-9-9,
#st-9-10,
// #st-9-13,
#st-10-3,
#st-10-4,
#st-10-10,
#st-10-11,
// #st-10-14
{
    background-image: url(../images/bg-toc.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.image-scroll {
    position: absolute;
    width: 56%;
    right: 0;
    height: 100vh;
    top: 0;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}

.image-scroll img {
    height: 100vh;
    object-fit: contain !important;
    width: unset;
    scroll-snap-align: start;
}

.image-scroll img:nth-child(2),
.image-scroll img:nth-child(3) {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

section#st-3-13 img {
    height: auto;
    object-fit: contain;
}

#st-3-13 .bottom-overlay {
    // background: transparent;
    // padding-bottom: 8rem;
}

.full-height {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.full-height .cardbox-overlay {
    max-width: 35%;
    padding: 0 1rem 0 4rem;
    box-sizing: border-box;
}

section#close-1 {
    position: relative;
}

section#close-1:after {
    // content: '';
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background: #0b2844cc;
}

.img-scroll {
    position: absolute;
    width: 20px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 14%;
}

.icon-scroll {
    position: absolute;
    left: 47%;
    right: 0;
    bottom: 3%;
    width: 50px;
    height: 50px;
    margin: auto;
    background: #1a2d4885;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-scroll img {
    width: 25px;
}

.img-scroll img {
    width: 100%;
}

#intr-10,
#intr-11 {
    // background-image: url(../images/overlay.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-image-overlay {
    background-image: url(../images/overlay.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#st-3-7 .half-full-height-blue,
#st-4-3 .half-full-height-blue,
#st-9-8 .half-full-height-blue {
    background: transparent;
}

/* .image-fixed {
  position: fixed;
  z-index: 9999;
  top: 0;
} */

video#v-st-1-11 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

section#st-6-13 img,
section#st-6-14 img,
section#st-4-9 img {
    object-fit: contain;
    object-position: left;
}

section#st-4-9 .half-full-height-blue-right,
section#st-6-13 .half-full-height-blue-right,
section#st-6-14 .half-full-height-blue-right {
    background: transparent;
    width: 32%;
    padding: 0 10em 0 0;
}

/* #st-4-10 img, */
#st-6-15 img,
#st-7-13 img,
#st-8-14 img,
#st-9-13 img,
#st-10-14 img {
    object-fit: contain;
    object-position: top;
}

// #st-6-15 .bottom-overlay,
// #st-7-13 .bottom-overlay,
// #st-8-14 .bottom-overlay,
// #st-10-14 .bottom-overlay {
//     background: transparent;
//     max-width: 70%;
//     margin: auto;
//     /* bottom: 9%; */
// }

// #st-9-13 .bottom-overlay {
//     background: transparent;
//     max-width: 70%;
//     margin: auto;
//     bottom: 0;
//     padding-bottom: 2rem;
// }

.card-box p.quote-author {
    text-align: right;
    margin: 0;
}

#st-7-9 .content-section p.quote span {
    display: block;
    text-align: right;
}

#st-7-2 p.quote {
    margin: 0;
}

#st-8-8 img {
    object-fit: contain;
    object-position: left;
}

#st-8-8 .half-full-height-blue-right-small {
    background: transparent;
    width: 26%;
}

#st-9-2 .card-box {
    max-width: unset;
}

#st-10-12 .half-full-height-blue {
    background: transparent;
}

#v-vo-2-1,
#v-vo-3-1,
#v-vo-4-1,
#v-vo-5-1 {
    width: 100%;
}

.cross .blue-overlay {
    background: #0e2e4ad9;
}

/* crossfade */

.fade {
    transition: opacity 0.7s ease-in;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

.bg-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // z-index: -1;
}

.bg-video #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.bg-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

section#closing-video .bg-video {
    z-index: 0;
}

/* Responsive */
@media screen and (min-height: 768px) and (max-height: 800px) {
    #intr-1 .left {
        padding-top: 0rem;
        padding-bottom: 3rem;
    }

    #intr-1 .left h4 {
        max-width: 80%;
    }

    #intr-1 .right {
        padding-bottom: 4rem;
    }

    .half-full-height-blue-small {
        width: 34%;
    }

    .navbar-right .nav-item ul li.chapter {
        height: 215px;
    }
}

@media screen and (min-height: 600px) and (max-height: 768px) {
    .navbar-right .nav-item ul li.chapter {
        height: 175px;
    }
}
