<section id="close-1" class="section" data-section="0">
    <div class="section-bg lozad" data-background-image="images/closing/image-close.jpeg"></div>
    <div class="blue-overlay"></div>
</section>

<section id="closing-video" class="section">
    <div class="bg-video section-bg fixed">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/W-d50gvSLAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/MsH1VHfgwaw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="close-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <video class="lozad" data-src="images/closing/GUYUB_LAYOUT_BG.mp4" muted loop playsinline></video>
    </div>
    <div class="content-section">
        <div class="partner-logo">
            <img class="lozad" data-src="images/closing/logo-partner.png" alt="img-2" data-aos="fade-bottom" data-aos-duration="2000" />
        </div>
    </div>
</section>
