<section id="close-1" class="section" data-section="0">
    <div class="section-bg lozad desktop-only" data-background-image="images/closing/image-close.jpeg"></div>
    <div class="section-bg lozad mobile-only" data-background-image="images/closing/image-close-mobile.jpeg"></div>
    <div class="section-bg blue-overlay"></div>
    <div class="content-section">
        <div></div>
    </div>
</section>

<section id="closing-video" class="section" data-section="0">
    <div class="bg-video video-iframe section-bg fixed">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/W-d50gvSLAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <div class="iframe-wrapper">
            <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/MsH1VHfgwaw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="content-section">
        <div></div>
    </div>
</section>

<section id="close-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed" style="background-color: #FFF;">
        <video class="lozad" data-src="images/closing/GUYUB_LAYOUT_BG.mp4" muted loop playsinline></video>
    </div>
    <div class="content-section">
        <div class="partner-logo">
            <img class="lozad" data-src="images/closing/logo-partner.png" alt="img-2"  />
        </div>
    </div>
</section>
