<section id="intr-1" class="section active" data-section="0" data-background-image="/images/int-1.jpeg);">
    <!-- <img src="images/int-1.png" alt="img-2" class="image-fixed"/> -->
    <div class="content-section align-strech">
        <div class="left half-width cross-top">
            <div class="intr-left-top">
                <h5 class="">
                    <div class="image-left"><img src="images/left-line.png" alt="" /></div>
                    UN WOMEN: PEACE VILLAGE STORIES
                </h5>
                <h4 class="italic text-thin m-0">Ketentreman – Women as agents of peace in villages of East Java</h4>
            </div>
            <div class="intr-left-bottom">
                <div class="logo">
                    <img src="images/logo-wf.png" alt="logo" />
                </div>
            </div>
        </div>
        <div class="right half-width cross-top">
            <div class="logo">
                <img src="images/logo-blue.png" alt="logo" />
            </div>
        </div>
        <!-- <div class="bottom-overlay d-flex justify-center">
          <div class="card-box"></div>
        </div> -->
    </div>
</section>

<section id="intr-2" class="section" data-section="0">
    <div class="content-section align-strech">
        <div class="left half-width">
            <!-- <h5>UN WOMEN: PEACE VILLAGE STORIES</h5>
            <h4 class="italic">Ketentreman – Women as agents of peace in villages of East Java</h4> -->
            <div class="logo">
                <img src="images/logo-wf-white.png" alt="logo" />
            </div>
        </div>
        <div class="right half-width" data-aos="zoom-in" data-aos-duration="1000">
            <div class="logo">
                <img src="images/logo-white.png" alt="logo" />
            </div>
        </div>
        <!-- <div class="bottom-overlay d-flex justify-center">
            <div class="card-box"></div>
        </div> -->
    </div>
</section>

<section id="intr-3" class="section toc">
    <div class="content-section">
        <div class="content-table d-flex align-center">
            <div class="toc-left toc-box d-flex align-center">
                <h5 class="heavy-text">
                    <div class="image-left"><img src="images/left-line.png" alt="" /></div>
                    Table of contents
                </h5>
            </div>

            <div class="toc-right toc-box">
                <p class="heading-toc"><strong>Introduction</strong></p>
                <div class="toc-list-wrapper d-flex align-center">
                    <ul class="toc-list">
                        <li>
                            <div class="d-flex align-center">
                                <img src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Guluk - Guluk</strong> Village</p>
                            </div>
                            <ul class="sublist">
                                <li class="d-flex align-center">
                                    <p><strong>Fadhilah</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/fadhilah.png" class="greyscale" alt="" /></div>
                                </li>
                                <li class="d-flex align-center">
                                    <p><strong>Istibsyarah</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/istibsyarah.png" class="greyscale" alt="" /></div>
                                </li>
                                <li class="d-flex align-center">
                                    <p><strong>Hasanah</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/hasanah.png" class="greyscale" alt="" /></div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="d-flex align-center">
                                <img src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Prancak</strong> Village</p>
                            </div>
                            <ul class="sublist">
                                <li class="d-flex align-center">
                                    <p><strong>Maria Ulfa</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/maria.png" class="greyscale" alt="" /></div>
                                </li>
                                <li class="d-flex align-center">
                                    <p><strong>Arifah</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/arifah.png" class="greyscale" alt="" /></div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="toc-list">
                        <li>
                            <div class="d-flex align-center">
                                <img src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Sidomulyo</strong> Village</p>
                            </div>
                            <ul class="sublist">
                                <li class="d-flex align-center">
                                    <p><strong>Azizah</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/azizah.png" class="greyscale" alt="" /></div>
                                </li>
                                <li class="d-flex align-center">
                                    <p><strong>Dewi & Mey</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/dewimei.png" class="greyscale" alt="" /></div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="d-flex align-center">
                                <img src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Candirenggo</strong> Village</p>
                            </div>
                            <ul class="sublist">
                                <li class="d-flex align-center">
                                    <p><strong>Sendy</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/sendy.png" class="greyscale" alt="" /></div>
                                </li>
                                <li class="d-flex align-center">
                                    <p><strong>Halimah</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/halimah.png" class="greyscale" alt="" /></div>
                                </li>
                                <li class="d-flex align-center">
                                    <p><strong>Andromeda</strong></p>
                                    <span class="line"></span>
                                    <div class="avatar"><img src="images/andromeda.png" class="greyscale" alt="" /></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <p class="heading-toc"><strong>Closing</strong></p>
            </div>
        </div>
    </div>
</section>

<section id="intr-4" class="section" data-section="0">
    <!-- <img src="images/int-2.png" alt="img-2" class="image-fixed"/> -->
    <div class="content-section shape-overlay-2 align-strech">
        <div class="half-width align-center d-flex">
            <div class="cardbox-overlay">
                <h3 class="medium-text wow slideInLeft" data-wow-duration="1000">
                    <div class="image-left">
                        <img src="images/left-line.png" alt="image-left" />
                    </div>
                    INTRODUCTION
                </h3>
                <p class="thin-text wow slideInLeft" data-wow-duration="3s">On Indonesia’s island of Java, women are essential to overcoming the threat posed by radicalism towards peace and human security at community level. Everyday women – diverse in age and background – are flourishing to become agents for peace, leading their communities to prevent violence, promote tolerance, and improve social cohesion.</p>
            </div>
        </div>
    </div>
</section>

<section id="intr-5" class="section" data-section="0">
    <!-- <img src="images/int-2.png" alt="img-2" /> -->
    <div class="content-section align-strech">
        <div class="half-width align-top d-flex">
            <div class="cardbox-overlay">
                <p class="thin-text wow slideInLeft" data-wow-duration="3s">These true grassroots leaders navigate deeply rooted patriarchy and gender conservatism, working towards community resilience, equality for all citizens, and real respect for diversity within each of their villages – known as Peace Villages</p>
            </div>
        </div>
    </div>
</section>

<section id=" intr-6" class="section" data-section="0">
    <img src="images/int-5.png" alt="img-2" />
    <div class="content-section">
        <div class="half-left-overlay d-flex align-bottom">
            <div class="card-box">
                <p class="story regular wow slideInLeft" data-wow-duration="3s">In the working group itself there are approximately 40% of members who are male, and they remain accepting – and enthusiastic – of such women-led movements in a traditionally patriarchal society. For Hasanah, as a life-long activist, the impact of the Peace Village programme has significant personal meaning, as herself and other women now feel more fulfilled and engaged than ever before.</p>
            </div>
        </div>
    </div>
</section>

<section id=" intr-7" class="section" data-section="0">
    <img src="images/int-6.png" alt="img-2" />
    <div class="content-section">
        <div class="half-left-overlay d-flex align-bottom">
            <div class="card-box">
                <p class="story regular wow slideInLeft" data-wow-duration="3s">They then sit with their local government to explore and identify ways to promote tolerance and sustain peace in their village, and push for change in village government policy and processes. This approach, through both community and government, counters the issues of radicalism and intolerance from both ends, fostering understanding, resilience and peaceful enjoyment of life in the village for all.</p>
            </div>
        </div>
    </div>
</section>

<section id=" intr-8" class="section" data-section="0">
    <div class="bg-video">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/JEOL6r8DCVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

        <iframe width="1664" height="770" src="https://www.youtube.com/embed/lCfme0X2k7A?playlist=lCfme0X2k7A&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section blue-overlay-right">
        <div class="half-left-overlay d-flex align-bottom justify-end">
            <div class="card-box">
                <p class="story regular wow slideInRight" data-wow-duration="3s">In particular, it is four Peace Villages in East Java that are piloting approaches established on global human security principles, while maintaining a focus towards resilience within the community.</p>
            </div>
        </div>
    </div>
</section>

<section id="intr-9" class="section" data-section="0">
    <div class="bg-video">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/JEOL6r8DCVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/Qo8usJU7ka4?playlist=Qo8usJU7ka4&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section blue-overlay-right">
        <div class="half-left-overlay d-flex align-bottom justify-end">
            <div class="card-box">
                <p class="story regular wow slideInRight" data-wow-duration="3s">Supported by UN Women and the Wahid Foundation under the Guyub Project, the villages of Prancak, Sidomulyo, Candirenggo and Guluk-Guluk evidence strong outcomes and impacts stemming from the empowerment and inclusion of women.</p>
            </div>
        </div>
    </div>
</section>

<section id="intr-10" class="section crossfade" data-section="0">
    <!-- <img  src="images/overlay.png" alt="img-2" /> -->
    <div class="fade fadeIn">
        <img src="images/int-7.png" alt="img-2" />
        <div class="content-section">
            <div class="half-left-overlay d-flex align-bottom">
                <div class="card-box">
                    <p class="story regular wow slideInLeft" data-wow-duration="3s">Peace Village Action Plans form the foundation of progress in these particular villages, with women leading and contributing to plan development and implementation in their communities. It is the stories of empowerment, inclusion and leadership for the women themselves – agents for peace and promoters of diversity – that truly reflect the meaning and importance of the Indonesian Peace Village.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="intr-11" class="section">
    <img class="image-fixed fade fadeOut" src="images/overlay.png" alt="img-2" />
    <!-- <img  src="images/overlay.png" alt="img-2" /> -->
    <!-- <div class="content-section">
            <div class="center-box box-center ta-center wow slideInDown" data-wow-duration="3s">
                <h3 class="main-title-story">GULUK-GULUK</h3>
                <p class="subtitle-story">VILLAGE</p>
            </div>
        </div> -->
</section>

<section id="intr-12" class="section" data-section="0">
    <img class="image-fixed fade fadeIn" src="images/overlay.png" alt="img-2" />
    <div class="cross">
        <img src="images/int-8.png" alt="img-2" />
        <div class="content-section blue-overlay">
            <div class="center-box box-center ta-center">
                <!-- <div class="video-box">
                <iframe width="1664" height="300" src="https://www.youtube.com/embed/m5-wlHZGFcs?playlist=m5-wlHZGFcs&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> -->
                <h3 class="main-title-story" data-aos="fade-down" data-aos-duration="2000">GULUK-GULUK</h3>
                <p class="subtitle-story" data-aos="fade-up" data-aos-duration="2000">VILLAGE</p>
            </div>
        </div>
    </div>
</section>

<section id="intr-13" class="section video-scroll" data-section="0">
    <!-- <video id="v-intr-13" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/t3Mcw38hxPY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe class="frame" width="560" height="315" 
        src="https://www.youtube.com/embed/JEOL6r8DCVk?rel=0; 
        controls=0;showinfo=0;autoplay=1&mute=1&loop=1&playlist=JEOL6r8DCVk 
        0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; 
        picture- 
        in-picture" allowfullscreen></iframe> -->
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/JEOL6r8DCVk?playlist=JEOL6r8DCVk&loop=1&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/JEOL6r8DCVk?playlist=JEOL6r8DCVk&loop=1&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

        <iframe width="1664" height="770" src="https://www.youtube.com/embed/A6GZVy-E8d8?playlist=A6GZVy-E8d8&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Located in the Sumenep region on Madura Island, Guluk-Guluk village was traditionally known for ongoing community conflict and tensions, often related to local politics.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Through the Peace Village programme, women were engaged in economic empowerment activities that increased their standing and voice in their community, and resulted in successful peacebuilding and conflict resolution efforts led by women in the community.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Women – young and old – are now approaching the village’s political conflicts head-on, and ensuring harmonious and peaceful relationships between all parties throughout Guluk-Guluk village.</p>
                </div>
            </div>
        </div>
    </div>
</section>
