<section id="intr-1" class="section" data-section="0">
    <div class="section-bg image-bg fixed lozad" data-background-image="images/int-1.jpeg"></div>
    <!-- <div class="content-section align-strech"> -->
        <div class="left half-width intro-gate-left cross-top lozad" data-background-image="images/wel-1.png">
            <div class="intr-left-top">
                <h5 class="">
                    <div class="image-left">
                        <img class="lozad" data-src="images/left-line.png" alt="" />
                    </div>
                    PEACE VILLAGE
                </h5>
                <h4 class="text-thin m-0" style="font-size:36px">
                    Peace Village – Women-led initiative to promote peaceful and resilient communities in Indonesia
                </h4>
            </div>
        </div>
        <div class="right half-width intro-gate-right cross-top lozad" data-background-image="images/wel-2.png">
            
        </div>
    <!-- </div> -->
    <div class="intro-logo-bottom-left">
        <div class="logo">
            <img class="lozad" data-src="images/logo-wf.png" alt="logo" />
        </div>
    </div>
    <div class="intro-logo-bottom-right">
        <div class="logo">
            <img class="lozad" data-src="images/logo-blue.png" alt="logo" />
        </div>
    </div>
</section>

<section id="intr-2" class="section " data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/int-1.jpeg"></div>
        <div class="intro-logo-bottom-left">
            <div class="logo">
                <img class="lozad" data-src="images/logo-wf-white.png" alt="logo" />
            </div>
        </div>
        <div class="intro-logo-bottom-right">
            <div class="logo">
                <img class="lozad" data-src="images/logo-white.png" alt="logo" />
            </div>
        </div>
        <!-- <div class="bottom-overlay d-flex justify-center">
            <div class="card-box"></div>
        </div> -->
</section>

<section id="intr-3" class="section toc">
    <div class="section-bg lozad" data-background-image="images/bg-toc.png"></div>
    <div class="content-section">
        <div class="content-table d-flex align-center">
            <div class="toc-left toc-box d-flex align-center">
                <div class="toc-title">
                    <div class="image-left">
                        <img class="lozad" data-src="images/left-line.png" alt="" />
                    </div>
                    <h5 class="heavy-text ">
                        Table of contents
                    </h5>
                </div>
            </div>

            <div class="toc-right toc-box">
                <p class="heading-toc"><strong>Introduction</strong></p>
                <div class="toc-list-wrapper d-flex align-center">
                    <ul class="toc-list">
                        <li>
                            <div class="d-flex align-center">
                                <img class="lozad" data-src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Guluk - Guluk</strong> Village</p>
                            </div>
                            <div class="sublist">
                                <a class="d-flex story-link" href="#st-1-1">
                                    <div class="name">Fadhilah</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/fadhilah.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                                <a class="d-flex story-link" href="#st-2-1">
                                    <div class="name">Istibsyarah</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/istibsyarah.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                                <a class="d-flex story-link" href="#st-3-1">
                                    <div class="name">Hasanah</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/hasanah.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="d-flex">
                                <img class="lozad" data-src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Prancak</strong> Village</p>
                            </div>
                            <div class="sublist">
                                <a class="d-flex story-link" href="#st-4-1">
                                    <div class="name">Maria Ulfa</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img class="lozad" data-src="images/maria.png" class="greyscale" alt="" />
                                        </div>
                                    </div>
                                </a>
                                <a class="d-flex story-link" href="#st-5-1">
                                    <div class="name">Arifah</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img class="lozad" data-src="images/arifah.png" class="greyscale" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <ul class="toc-list">
                        <li>
                            <div class="d-flex align-center">
                                <img class="lozad" data-src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Sidomulyo</strong> Village</p>
                            </div>
                            <div class="sublist">
                                <a class="d-flex story-link" href="#st-6-1">
                                    <div class="name">Azizah</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/azizah.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                                <a class="d-flex story-link" href="#st-7-1">
                                    <div class="name">Dewi & Mey</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/dewimei.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="d-flex align-center" href="#st-8-1">
                                <img class="lozad" data-src="images/icon-map.png" alt="" />
                                <p class="text-blue">Stories from <strong>Candirenggo</strong> Village</p>
                            </div>
                            <div class="sublist">
                                <a class="d-flex story-link">
                                    <div class="name">Sendy</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/sendy.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                                <a class="d-flex story-link" href="#st-9-1">
                                    <div class="name">Halimah</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/halimah.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                                <a class="d-flex story-link" href="#st-10-1">
                                    <div class="name">Andromeda</div>
                                    <div class="avatar-container">
                                        <span class="line"></span>
                                        <div class="avatar">
                                            <img data-src="images/andromeda.png" class="greyscale lozad" alt="" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="heading-toc"><strong>Closing</strong></p>
            </div>
        </div>
    </div>
</section>

<section id="intr-4" class="section" data-section="0">
    <!-- <img src="images/int-2.png" alt="img-2" class="image-fixed"/> -->
    <div class="section-bg lozad fixed" data-background-image="images/int-2.jpeg"></div>
    <div class="section-bg shape-overlay-2 fixed"></div>
    <div class="content-section  align-strech">
        <div class="half-width align-center d-flex">
            <div class="cardbox-overlay"> 
                <h3 class="medium-text wow slideInLeft" data-wow-duration="1000">
                    <div class="image-left">
                        <img class="lozad" data-src="images/left-line.png" alt="image-left" />
                    </div>INTRODUCTION
                </h3>
                <p class="thin-text wow slideInLeft" data-wow-duration="3s">
                    On Indonesia’s Java island, women are at the forefront of overcoming the threat posed by radicalism towards peace and human security at the community level. Everyday women – diverse in age and background – are flourishing to become agents of peace, leading their communities to build peaceful and resilient societies.                
                </p>
            </div>
        </div>
    </div>
</section>

<section id="intr-5" class="section" data-section="0" >
    <!-- <img class="lozad section-bg" data-src="images/int-2.jpeg" alt="img-2" /> -->
    <div class="section-bg fixed lozad" data-background-image="images/int-2.jpeg"></div>
    <div class="content-section align-strech">
        <div class="half-width d-flex mb-auto">
            <div class="cardbox-overlay">
                <p class="thin-text">
                    These grass-roots leaders navigate deeply rooted patriarchal values and challenge gender norms, working towards community resilience, equality for all citizens, and respect for diversity within each of their villages – known as Peace Villages.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="intr-6" class="section" data-section="0">
    <!-- <img class="lozad section-bg" data-src="images/int-5.jpeg" alt="img-2" /> -->
    <div class="section-bg lozad fixed" data-background-image="images/int-5.jpeg"></div>
    <div class="half-overlay bg-overlay fixed"></div>
    <div class="content-section">
        <div class="d-flex mt-auto">
            <div class="card-box">
                <p class="story regular wow slideInLeft" data-wow-duration="3s">
                    Stemming from initial interventions in 2017, UN Women partnered with the Wahid Foundation to develop the “Peace Village” concept, under which a village agrees to a set of commitments designed to prevent violence, promote tolerance, and advance social cohesion. Recognizing economic empowerment as a foundation for change, the Peace Village initiative promotes women's voice and agency, increases women’s access to economic opportunities, and builds their capacity to resolve communal conflict.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="intr-7" class="section" data-section="0">
    <!-- <img class="lozad" data-src="images/int-6.jpeg" alt="img-2" /> -->
    <div class="section-bg lozad fixed" data-background-image="images/int-6.jpeg"></div>
    <div class="half-overlay bg-overlay fixed"></div>

    <div class="content-section">
        <div class="d-flex align-bottom mt-auto">
            <div class="card-box">
                <p class="story regular wow slideInLeft" data-wow-duration="3s">
                    In Peace Villages, women also sit with their local government to explore and identify ways to promote tolerance and sustain peace in their village, and push for change in village government policy and processes. This community-based approach fosters mutual understanding, social cohesion, and peace in the village for all.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="intr-8" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/JEOL6r8DCVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/lCfme0X2k7A?playlist=lCfme0X2k7A&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/IntroductionMap_1.mp4" muted loop playsinline></video>
    </div>
    <div class="blue-overlay-right  bg-overlay fixed"></div>
    <div class="content-section">
        <div class="d-flex align-bottom justify-end mt-auto">
            <div class="card-box">
                <p class="story regular wow slideInRight" data-wow-duration="3s">
                    In particular, four Peace Villages in East Java are piloting approaches established on global human security principles to build resilience within the community.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="intr-9" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/JEOL6r8DCVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/Qo8usJU7ka4?playlist=Qo8usJU7ka4&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/IntroductionMap_2.mp4" muted loop playsinline></video>
    </div>
    <div class="blue-overlay-right bg-overlay fixed"></div>
    <div class="content-section ">
        <div class="d-flex align-bottom justify-end mt-auto">
            <div class="card-box">
                <p class="story regular wow slideInRight" data-wow-duration="3s">Supported by UN Women and the Wahid Foundation under the Guyub Project, the villages of Prancak, Sidomulyo, Candirenggo and Guluk-Guluk evidence strong outcomes and impacts stemming from the empowerment and inclusion of women.</p>
            </div>
        </div>
    </div>
</section>

<section id="intr-10" class="section" data-section="0">
    <!-- <img  src="images/overlay.png" alt="img-2" /> -->
    <div class="section-bg lozad fixed" data-background-image="images/int-7.jpeg"></div>
    <div class="half-overlay bg-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular wow slideInLeft" data-wow-duration="3s">Peace Village Action Plans form the foundation of progress in these particular villages, with women leading and contributing to plan development and implementation in their communities. It is the stories of empowerment, inclusion and leadership for the women themselves – agents for peace and promoters of diversity – that truly reflect the meaning and importance of the Indonesian Peace Village.</p>
        </div>
    </div>
</section>

<!-- <section id="intr-11" class="section"> -->
    <!-- <img class="image-fixed fade fadeOut lozad" data-src="images/overlay.png" alt="img-2" /> -->
    <!-- <img  src="images/overlay.png" alt="img-2" /> -->
    <!-- <div class="content-section">
            <div class="center-box box-center ta-center wow slideInDown" data-wow-duration="3s">
                <h3 class="main-title-story">GULUK-GULUK</h3>
                <p class="subtitle-story">VILLAGE</p>
            </div>
        </div> -->
<!-- </section> -->
