<section id="st-9-1" class="section" data-section="0">
    <img src="images/st-9/st9-1.png" alt="img-1" />
    <div class="content-section">
        <div class="title-story" data-aos="fade-right" data-aos-duration="2000">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">09. HALIMAH</h3>
        </div>
    </div>
</section>

<section id="st-9-2" class="section" data-section="0">
    <!-- <video id="v-st-9-2" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/MUJcVzweSgI?playlist=MUJcVzweSgI&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">
                    “I just want our community to live together <br />
                    – in peace.”
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-9-3" class="section" data-section="0">
    <img src="images/st-9/st9-3.png" alt="img-2" />
    <div class="content-section">
        <div class="half-overlay d-flex align-bottom" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">Halimah joined a local neighbourhood women’s group to be more involved outside of her home in the community, and to take part in livelihood training which could support her small cake business. The group began as a space to learn about opportunities for improving economic outcomes, and has transformed into a place for the women of Candirenggo village, such as Halimah, to play an active role in supporting and developing their wider community.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-9-4" class="section" data-section="0">
    <img class="greyscale" src="images/st-9/st9-3.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
            <p class="quote regular">“Most of us have traditionally just worked taking care of our homes, so I really wanted to be part of something more. I wanted to grow.”</p>
        </div>
    </div>
</section>

<section id="st-9-5" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-9-5" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/-CnsQwhu7sM?playlist=-CnsQwhu7sM&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Initial activities in the Karya Wiguna Gunda women’s group focused on handicraft, sewing and cooking.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Halimah recognised the value of such an opportunity for women to increase their contribution to their household finances.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Economic empowerment was only the beginning for the group, with the women then approaching other community challenges.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">They now approach domestic violence and other household issues through their tight-knit group through support from the Peace Village programme.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-9-6" class="section" data-section="0">
    <img src="images/st-9/st9-4.png" alt="img-1" />
    <div class="content-section bg-blue-overlay">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote" data-aos="fade-right" data-aos-duration="2000">“Sometimes there can be a lot of problems between women in the village. But our women’s group now gathers often, and we know each other better, so conflict between women has decreased.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-9-7" class="section" data-section="0">
    <img src="images/st-9/st9-5.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">The group provides Halimah and others a space in which to have a voice, and also a place to turn if things get difficult. Previously, issues for women could often be amplified and protracted as news leaked out into the wider community.</p>
            </div>
        </div>
    </div>
</section>
<!-- 

      <section id="st-9-8" class="section" data-section="0">
        <img src="images/st-9/st9-6.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate">
        <div class="content-section align-bottom">
          <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
              <p class="thin-text">
                The establishment of the women’s group through the Peace Village programme countered this by providing direct and relevant support for whatever problems may arise. The group also gives victims of domestic violence somewhere to turn for help, and Halimah and her friends are ready to support. 
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="st-9-9" class="section" data-section="0">
        <img src="images/st-9/st9-7.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate">
        <div class="content-section align-bottom">
          <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
              <p class="thin-text">
                The establishment of the women’s group through the Peace Village programme countered this by providing direct and relevant support for whatever problems may arise. The group also gives victims of domestic violence somewhere to turn for help, and Halimah and her friends are ready to support. 
              </p>
            </div>
          </div>
        </div>
      </section> -->

<section id="st-9-8" class="section bg-image-overlay" data-section="0">
    <!-- <img src="images/st-3/st3-5.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"> -->
    <div class="content-section align-bottom">
        <div class="half-full-height-blue">
            <div class="cardbox-overlay">
                <p class="thin-text">The establishment of the women’s group through the Peace Village programme countered this by providing direct and relevant support for whatever problems may arise. The group also gives victims of domestic violence somewhere to turn for help, and Halimah and her friends are ready to support.</p>
            </div>
        </div>
    </div>

    <div class="image-scroll">
        <img src="images/st-9/st9-6.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
        <img src="images/st-9/st9-7.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    </div>

    <div class="icon-scroll">
        <img src="images/icon-arrow.png" alt="" />
    </div>
</section>

<section id="st-9-10" class="section" data-section="0">
    <img src="images/st-9/st9-8.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">“So many of the women have increased self-confidence. We are always invited to activities and discussions in the village now, as our input is valued, and we have the confidence to deliver our ideas in front of everyone.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-9-11" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-9-11" class="video-background" loop="" muted=""></video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/tm_G0vST4Vc?playlist=tm_G0vST4Vc&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="st-9-12" class="section" data-section="0">
    <img src="images/st-9/st9-9.png" alt="img-2" />
    <div class="content-section">
        <div class="half-overlay d-flex align-bottom" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">More than just a training and support mechanism, the group is now actively engaged on shaping outcomes for Halimah and other women in her neighbourhood. They are increasingly taking part in village planning and decision-making activities, and the impact of this on the women of Candirenggo is significant.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-9-13" class="section" data-section="0">
    <img src="images/st-9/st9-10.png" alt="img-2" / data-aos="fade-top" data-aos-duration="2000">
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box" data-aos="fade-bottom" data-aos-duration="2000">
                <p class="thin-text">As for Halimah, her hopes are simple – for her, her family and the community of Candirenggo.</p>
                <p class="thin-text italic">“We hope to just live in peace with our families, without the problem of domestic violence. And even if there are problems, we want to deal with them properly to avoid further issues.”</p>
            </div>
        </div>
    </div>
</section>
