<section id="st-4-1" class="section story-opening" data-section="0">
    <div class="section-bg image-bg lozad" data-background-image="images/st-4/st4-1.jpeg"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">04. MARIA ULFA</h3>
        </div>
    </div>
</section>

<section id="st-4-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/SzlWr9O2GmA?playlist=SzlWr9O2GmA&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S04_PV_PROFILE_MARIAULFA_V2.mp4" muted loop playsinline></video>
    </div>
    <div class="section-bg half-blue-left-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box align-center">
            <p class="quote" data-aos="fade-right" data-aos-duration="2000">
                “People in the neighbourhood looked down on me because I was a woman leaving the village, but all I wanted to do was get my Bachelor’s degree.”
            </p>
        </div>
    </div>
</section>

<!-- <div class="image-scroll-group"> -->
    <section id="st-4-3-1" class="section book-layout image-scroll-layout" data-section="0">
        <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
        <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-4/st4-4.jpeg"></div> -->
        <div class="content-section">
            <div class="text-container">
                <p class="thin-text">
                    Maria Ulfa is the only woman in her hamlet of almost 600 people who holds a university degree. Like other women in her village, she was forced by her family to marry not long after graduation, virtually ending her hopes of pursuing a Master’s degree.
                </p>
            </div>
            <div class="image-container lozad" data-background-image="images/st-4/st4-4.jpeg">
                <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
            </div>
        </div>
    </section>
    <section id="st-4-3-2" class="section book-layout image-scroll-layout" data-section="0">
        <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
        <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-4/st4-3.jpeg"></div> -->
        <div class="content-section">
            <div class="text-container">
                <p class="thin-text">
                    Maria Ulfa is the only woman in her hamlet of almost 600 people who holds a university degree. Like other women in her village, she was forced by her family to marry not long after graduation, virtually ending her hopes of pursuing a Master’s degree.
                </p>
            </div>
            <div class="image-container lozad" data-background-image="images/st-4/st4-3.jpeg">
                <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
            </div>
        </div>
    </section>
    <section id="st-4-3-3" class="section book-layout image-scroll-layout" data-section="0">
        <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
        <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-4/st4-9.jpeg"></div> -->
        <div class="content-section">
            <div class="text-container">
                <p class="thin-text">
                    Maria Ulfa is the only woman in her hamlet of almost 600 people who holds a university degree. Like other women in her village, she was forced by her family to marry not long after graduation, virtually ending her hopes of pursuing a Master’s degree.
                </p>
            </div>
            <div class="image-container lozad" data-background-image="images/st-4/st4-9.jpeg">
                <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
            </div>
        </div>
    </section>
<!-- </div> -->

<section id="st-4-6" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-4/st4-5.jpeg"></div>
    <div class="section-bg half-left-overlay fixed"></div>

    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                This traditional norm in her village of Prancak forced her to accept that her role as a woman was to continue life as a housewife and mother. It was in this situation that Maria Ulfa began to witness more cases of domestic violence and sexual assault taking place in the community, which compelled her to act.
            </p>
        </div>
    </div>
</section>

<section id="st-4-7" class="section" data-section="0">
    <div class="greyscale image-bg section-bg lozad fixed" data-background-image="images/st-4/st4-5.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity">
            <p class="quote regular" data-aos="fade-up" data-aos-duration="2000">
                “Women don’t want to report violence or sexual assault because it is shameful. But I couldn’t just turn a blind eye, so I always got involved.”
            </p>
        </div>
    </div>
</section>

<section id="st-4-8" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/ei2iz_3shDQ?playlist=ei2iz_3shDQ&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S04_PV_ACTIVITY_MARIAULFA_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Maria Ulfa joined the Peace Village programme with an interest in supporting survivors of gender-based violence and sexual assault.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        She participated in capacity-building training on understanding women’s rights under Indonesia’s legislative framework.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        From the training, she also realized the gap between the existing protection mechanisms at the national and community levels. 
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Now she’s trying to adopt community-based approaches to support women and children potentially affected by gender-based violence in Prancak.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-4-9" class="section book-layout reversed" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-4/st4-10.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text italic">
                “I now know where to take women who have been abused and who is the best party to report to. Because this is a small community, lots of people dislike me and my actions. But I don’t care because I just want to protect the women and children.”
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-4/st4-10.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-4-10" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-4/st4-7.jpeg"></div>
    <div class="section-bg half-bottom-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                Building on the work that Maria Ulfa and her women’s group have been undertaking through the Peace Village programme, it is now supporting them to develop the Women and Child Protection Unit, which was recently established in Prancak village.
            </p>
        </div>
    </div>
</section>

<section id="st-4-11" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-4/st4-8.jpeg"></div>
    <div class="section-bg half-bottom-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                At this early stage, the group participates in training and activities to learn protection measures to help the community’s women and children.    
            </p>
        </div>
    </div>
</section>

<section id="st-4-12" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/QMRO3scO3ag?playlist=QMRO3scO3ag&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S04_PV_COMMENTS_MARIAULFA_V2.mp4" controls playsinline></video>
    </div>
</section>

<section id="st-4-10" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-4/st4-11.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text">
                    Maria Ulfa hopes that capacity-building activities on promoting women’s rights can continue through the Peace Village programme so that women have strengthened capacity to support each other in their communities.
                </p>
            </div>
        </div>
    </div>
</section>
