<section id="st-3-1" class="section" data-section="0">
    <div class="section-bg lozad" data-background-image="images/st-3/st3-1.jpeg"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">03. HASANAH</h3>
        </div>
    </div>
</section>

<section id="st-3-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/VoBsZlK6ldo?playlist=VoBsZlK6ldo&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S03_PV_PROFILE_HASANAH_V2.mp4" autoplay muted loop></video>
    </div>
    <div class="section-bg bg-blue-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box">
            <p class="quote" data-aos="fade-right" data-aos-duration="2000">
                “While it began as economic empowerment activities, the Peace Village concept has now broadened into a variety of community-led efforts aimed at creating a more conducive environment for everyone to enjoy life in Guluk-Guluk.”
            </p>
        </div>
    </div>
</section>

<section id="st-3-3" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-3/st3-3.jpeg"></div>
    <div class="section-bg black-overlay-right fixed"></div>
    <div class="content-section">
        <div class="card-box ml-auto mt-auto">
            <p class="story regular">
                Hasanah has always been active in the community, engaging with environmental protection and women’s farming groups in Guluk-Guluk village for many years. When Peace Village activities began in 2017, Hasanah quickly took on a leadership role as she recognized the value of economic empowerment opportunities for women in her community. 
            </p>
        </div>
    </div>
</section>

<section id="st-3-4" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-3/st3-4.jpeg"></div>
    <div class="section-bg black-overlay-bottom fixed"></div>
    <div class="content-section">
        <div class="card-box ml-auto mt-auto">
            <p class="story regular">
            Over the years, the programme broadened its scope, introducing Hasanah to new people and ideas. Her skills as a community leader then advanced, and she has been playing a trusted role in community conflict management and peacebuilding.    
            </p>
        </div>
    </div>
</section>

<section id="st-3-5" class="section" data-section="0">
    <div class="section-bg lozad greyscale fixed" data-background-image="images/st-3/st3-4.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity-right" data-aos="fade-left" data-aos-duration="2000">
            <p class="quote regular">“
            “In the Peace Village activities, I learned how to better resolve conflict and how to focus on building peace and harmony between people in my community. How I should respond to problems as they arise was a big part of what I learned.”    
            </p>
        </div>
    </div>
</section>

<section id="st-3-6" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/RCc0GbGsaoQ?playlist=RCc0GbGsaoQ&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S03_PV_ACTIVITY_HASANAH_V2.mp4" autoplay muted loop></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Village elections have traditionally been a time of high tension and significant conflict in Guluk-Guluk.    
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Hasanah and the Peace Village Working Group took action to de-escalate rising tensions in the community during the lead-up to the most recent ballot.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        They convened meetings and discussions between the competing candidates and their supporters.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Finally, all key parties signed an agreement of peace and a set of peaceful behaviors they promised to adhere to during the election period.    
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-3-7" class="section bg-image-overlay" data-section="0">
    <!-- <img src="images/st-3/st3-5.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"> -->
    <div class="content-section align-bottom">
        <div class="half-full-height-blue">
            <div class="cardbox-overlay">
                <p class="thin-text">
                    As a result, the elections ran smoothly and peacefully for the first time in many years. All parties involved in the mediation accepted and supported the outcomes and election results without dispute.
                </p>
            </div>
        </div>
    </div>

    <div class="image-scroll">
        <img class="lozad" data-src="images/st-3/st3-5.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
        <img class="lozad" data-src="images/st-3/st3-6.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
        <img class="lozad" data-src="images/st-3/st3-7.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    </div>

    <div class="icon-scroll">
        <img class="lozad" data-src="images/icon-arrow.png" alt="" />
    </div>
</section>

<section id="st-3-10" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/oVDuF6MQ7To?playlist=oVDuF6MQ7To&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S03_PV_COMMENTS_HASANAH_V2.mp4" autoplay controls loop></video>
    </div>
</section>

<section id="st-3-11" class="section" data-section="0">
    <!-- <img class="lozad" data-src="images/st-3/st3-8.jpeg" alt="img-2" data-aos="fade-bottom" data-aos-duration="2000" /> -->
    <div class="section-bg lozad fixed" data-background-image="images/st-3/st3-8.jpeg"></div>
    <div class="section-bg fixed bottom-overlay-opacity"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                As a Board Member for the Peace Village Working Group, Hasanah and her team are working on expanding the reach of their peacebuilding efforts. They have developed Kompolan Esto Damai (“Peace Love Forum” in Madurese) –  a forum for community participation in the village. They also established a mechanism for early identification of conflict.
            </p>
        </div>
    </div>
</section>

<section id="st-3-12" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-3/st3-9.jpeg"></div>
    <div class="section-bg fixed bg-black-overlay"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                In the Working Group, there are approximately 60% female members. The rest 40% male members welcome such women-led movements in a traditionally patriarchal society. For Hasanah, as a life-long grass-roots activist, the impact of the Peace Village programme has significant personal meaning – she herself and other women now feel more fulfilled and engaged in building a gender-equal and peaceful society than ever before.
            </p>
        </div>
    </div>
</section>

<section id="st-3-13" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-3/st3-10.jpeg"></div>
    <div class="content-section">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text">
                    “The women of Guluk-Guluk have become more creative. After they engage as a group, often for the first time in their lives, I can see this new type of happiness emerge. Maybe because they meet other women, and when they get together, new ideas continue to appear.”
                </p>
            </div>
        </div>
    </div>
</section>
