<section id="st-4-1" class="section" data-section="0">
    <img src="images/st-4/st4-1.png" alt="img-1" />
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">04. MARIA ULFA</h3>
        </div>
    </div>
</section>

<section id="st-4-2" class="section" data-section="0">
    <!-- <video id="v-st-4-2" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/oVDuF6MQ7To" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/SzlWr9O2GmA?playlist=SzlWr9O2GmA&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">“People in the neighbourhood looked down on me because I was a woman leaving the village, but all I wanted to do was get my Bachelor degree.”</p>
            </div>
        </div>
    </div>
</section>

<!-- <section id="st-4-3" class="section" data-section="0">
        <img src="images/st-4/st4-4.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"/>
        <div class="content-section align-bottom">
          <div class="d-flex align-center full-height" >
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
              <p class="thin-text">
                Maria Ulfa is the only woman in her hamlet of almost 600 people who has 
                a university degree. Once her degree had finished, however, she was still
                 forced to marry by her family not long after graduation, virtually 
                 ending her hopes of continuing on to study her Masters.
              </p>
            </div>
          </div>
        </div>
      </section>


      <section id="st-4-4" class="section" data-section="0">
        <img src="images/st-4/st4-3.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"/>
        <div class="content-section align-bottom">
          <div class="d-flex align-center full-height" >
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
              <p class="thin-text">
                Maria Ulfa is the only woman in her hamlet of almost 600 people who has 
                a university degree. Once her degree had finished, however, she was still
                 forced to marry by her family not long after graduation, virtually 
                 ending her hopes of continuing on to study her Masters.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="st-4-5" class="section" data-section="0">
        <img src="images/st-4/st4-9.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"/>
        <div class="content-section align-bottom">
          <div class="d-flex align-center full-height" >
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
              <p class="thin-text">
                Maria Ulfa is the only woman in her hamlet of almost 600 people who has 
                a university degree. Once her degree had finished, however, she was still
                 forced to marry by her family not long after graduation, virtually 
                 ending her hopes of continuing on to study her Masters.
              </p>
            </div>
          </div>
        </div>
      </section> -->

<section id="st-4-3" class="section bg-image-overlay" data-section="0">
    <!-- <img src="images/st-3/st3-5.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"> -->
    <div class="content-section align-bottom">
        <div class="half-full-height-blue">
            <div class="cardbox-overlay">
                <p class="thin-text">Maria Ulfa is the only woman in her hamlet of almost 600 people who has a university degree. Once her degree had finished, however, she was still forced to marry by her family not long after graduation, virtually ending her hopes of continuing on to study her Masters.</p>
            </div>
        </div>
    </div>

    <div class="image-scroll">
        <img src="images/st-4/st4-4.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
        <img src="images/st-4/st4-3.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
        <img src="images/st-4/st4-9.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    </div>

    <div class="icon-scroll">
        <img src="images/icon-arrow.png" alt="" />
    </div>
</section>

<section id="st-4-6" class="section" data-section="0">
    <img src="images/st-4/st4-5.png" alt="img-2" />
    <div class="content-section">
        <div class="half-overlay d-flex align-bottom aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">As was the norm in her village of Prancak, she was forced to come to terms with the belief that her role was to continue life as a housewife and mother. It was in this new context that Maria Ulfa began to witness more and more cases of domestic violence and sexual assault taking place in the community, compelling her to act, regardless of community opinion.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-4-7" class="section" data-section="0">
    <img class="greyscale" src="images/st-4/st4-5.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity">
            <p class="quote regular" data-aos="fade-right" data-aos-duration="2000">“Women don’t want to report violence or sexual assault because reporting these things is seen as shameful. But I couldn’t just turn a blind eye, so I always got involved.”</p>
        </div>
    </div>
</section>

<section id="st-4-8" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-4-5" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/ei2iz_3shDQ?playlist=ei2iz_3shDQ&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Maria Ulfa joined the Peace Village programme with an interest in supporting survivors of violence and sexual assault.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">She was surprised to find out that women and children have considerable government protection, but it is just not realized in her village.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Maria Ulfa participated in Peace Village training on supporting survivors of violence, and determining the best options for protection.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">She now uses such approaches in her ongoing efforts to support other women in Prancak.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="st-4-6" class="section" data-section="0">
        <img class="greyscale" src="images/st-4/st4-6.png" alt="img-2">
        <div class="content-section align-bottom">
          <div class="half-full-height-blue-opacity aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
            <p class="quote regular">“I now know where to take women who have been abused, and who is the best party to report to. Because this is a small community, lots of people don’t like me because I get involved, but don’t care, because I just want to protect the women and children.”</p>
          </div>
        </div>
      </section> -->
<section id="st-4-9" class="section" data-section="0">
    <img src="images/st-4/st4-10.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-right">
            <div class="cardbox-overlay">
                <p class="thin-text aos-init aos-animate" data-aos="fade-left" data-aos-duration="2000">I now know where to take women who have been abused, and who is the best party to report to. Because this is a small community, lots of people don’t like me because I get involved, but don’t care, because I just want to protect the women and children.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-4-10" class="section" data-section="0">
    <img src="images/st-4/st4-7.png" alt="img-2" />
    <div class="content-section">
        <div class="half-overlay d-flex align-bottom aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">Building on the work that Maria Ulfa and her women’s group have been undertaking through the Peace Village programme, they are now being supported to develop the Women and Child Protection Unit, which was recently established in Prancak village.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-4-11" class="section" data-section="0">
    <img src="images/st-4/st4-8.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="half-overlay black-overlay-bottom d-flex align-bottom aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">At this early stage the group participates in training and activities that provide them with increased knowledge and practice in protection measures, that can later be utilized in their work with the community’s women and children.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-4-12" class="section" data-section="0">
    <!-- <video id="v-st-4-9" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/QMRO3scO3ag?playlist=QMRO3scO3ag&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="st-4-10" class="section" data-section="0">
    <img src="images/st-4/st4-11.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text italic" data-aos="fade-bottom" data-aos-duration="2000">Maria Ulfa hopes that this – and other activities delivered through the Peace Village programme – can continue to improve the context for women by empowering them to support each other and their communities.</p>
            </div>
        </div>
    </div>
</section>
