<section id="st-6-1" class="section" data-section="0">
    <img src="images/st-6/st6-1.png" alt="img-1" />
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">06. AZIZAH</h3>
        </div>
    </div>
</section>

<!-- 
      <section id="st-6-2" class="section " data-section="1">
        <video id="v-st-6-2" class="video-background" loop muted>
        </video>
        <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
          <p class="quote">“I have always helped children who need me, 
            but after engaging in the Peace Village process I am now more
             prepared to expand and develop the support I can provide.”</p>
        </div>
      </section> -->

<section id="st-6-2" class="section" data-section="0">
    <!-- <video id="v-st-6-2" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/GcBxEgAGIf8?playlist=GcBxEgAGIf8&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">“I have always helped children who need me, but after engaging in the Peace Village process I am now more prepared to expand and develop the support I can provide.”</p>
            </div>
        </div>
    </div>
</section>
<!-- 
      <section id="st-6-3" class="section" data-section="0">
        <img src="images/st-6/st6-3.png" alt="img-2">
        <div class="content-section align-bottom">
          <div class="half-full-height-blue">
            <div class="cardbox-overlay">
              <p class="thin-text" data-aos="fade-right" data-aos-duration="2000">
                A teacher at Sidomulyo’s local primary school, Azizah holds a lifelong interest in the welfare and development of the village’s children. Such an interest saw her participate in the Peace Village programme during its early years, and has resulted in Azizah becoming a leader of women and child protection efforts in Sidomulyo village.
              </p>
            </div>
          </div>
        </div>
      </section> -->

<section id="st-6-3" class="section" data-section="0">
    <img src="images/st-6/st6-3.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">A teacher at Sidomulyo’s local primary school, Azizah holds a lifelong interest in the welfare and development of the village’s children. Such an interest saw her participate in the Peace Village programme during its early years, and has resulted in Azizah becoming a leader of women and child protection efforts in Sidomulyo village.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-3" class="section" data-section="0">
    <img src="images/st-6/st6-4.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">As the Secretary of the Sidomulyo Peace Village Working Group Azizah is effecting positive change for women and children across the village, while in her own newly developed programme she provides hands-on support for a number of children who are neglected or abandoned.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-4" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-6-4" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/NkKdjnlh32s?playlist=NkKdjnlh32s&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Azizah implements the Rumah Ayom programme from her own home, supporting a number of children from Sidomulyo.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">The programme provides a place of refuge and safety for children who have been neglected or abandoned.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Such issues are due to parents who have divorced, migrated for work, or given birth out of wedlock in the prominent conservative culture.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Rumah Ayom provides the children a safe place to learn, rest and develop, while also focusing on preventative actions to improve the situation.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-6-5" class="section" data-section="0">
    <img src="images/st-6/st6-5.png" alt="img-2" />
    <div class="content-section bg-black-overlay d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">Many triggers of child neglect in Sidomulyo are financial, and in her role with the Peace Village working group Azizah also focuses on guiding parents through activities aimed to improve livelihoods.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-6" class="section" data-section="0">
    <img src="images/st-6/st6-6.png" alt="img-2" />
    <div class="content-section bg-black-overlay d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">She hopes that through these actions parents can become more capable and prepared to take responsibility for their children.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-7" class="section" data-section="0">
    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/nsqVs6yJKnw?playlist=nsqVs6yJKnw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="st-6-8" class="section" data-section="0">
    <img src="images/st-6/st6-7.png" alt="img-2" />
    <div class="content-section bg-black-overlay d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">More broadly, financial issues are also a key cause of conflict between community members in Sidomulyo, and Azizah has utilized the Peace Village forums to engage the community regarding debt and borrowing between households.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-9" class="section" data-section="0">
    <img src="images/st-6/st6-8.png" alt="img-2" />
    <div class="content-section black-overlay-bottom d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">With increased awareness on debt avoidance, community members are then invited to trainings and activities on work skills development and financial management.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-10" class="section" data-section="0">
    <img class="greyscale" src="images/st-6/st6-8.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
            <p class="quote regular">“I basically tell them don’t go into debt, go to work and make the money that you need – and that’s where we provide the activities to help them improve their incomes.”</p>
        </div>
    </div>
</section>

<section id="st-6-11" class="section" data-section="0">
    <img src="images/st-6/st6-9.png" alt="img-2" data-aos="fade-left data-aos-duration=" 2000">
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-small">
            <div class="cardbox-overlay">
                <p class="thin-text" data-aos="fade-right" data-aos-duration="2000">Whether related to children, or conflict and issues in the wider community, Azizah has witnessed significant change over recent years.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-12" class="section" data-section="0">
    <img src="images/st-6/st6-10.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-small">
            <div class="cardbox-overlay">
                <p class="thin-text" data-aos="fade-right" data-aos-duration="2000">She says that the issue of debt is almost non-existent, people are increasing and expanding their working skills, and citizens are genuinely living more peacefully within a stronger community atmosphere.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-13" class="section" data-section="0">
    <img src="images/st-6/st6-11.png" alt="img-2" data-aos="fade-right" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-right">
            <div class="cardbox-overlay">
                <p class="thin-text" data-aos="fade-left" data-aos-duration="2000">While the challenge for protecting women and children remains, Azizah also hopes that interventions such as her Rumah Ayom can be replicated and refined to ensure an even safer environment for all.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-14" class="section" data-section="0">
    <img src="images/st-6/st6-12.png" alt="img-2" data-aos="fade-right" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-right">
            <div class="cardbox-overlay">
                <p class="thin-text" data-aos="fade-left" data-aos-duration="2000">She has also witnessed a change in herself, and her capacity to approach conflict and issues in a more peaceful and relaxed manner.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-6-15" class="section" data-section="0">
    <img src="images/st-6/st6-13.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text italic" data-aos="fade-bottom" data-aos-duration="2000">“I feel as if I am wiser in handling conflict. I don’t take issues to heart, and when things don’t go my way I don’t get so upset. I feel very peaceful.”</p>
            </div>
        </div>
    </div>
</section>