<section id="st-2-1" class="section" data-section="0">
    <div class="section-bg lozad" data-background-image="images/st-2/st2-1.jpeg"></div>

    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">02. ISTIBSYARAH</h3>
        </div>
    </div>
</section>

<section id="st-2-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/pLyVzfroRFw?playlist=pLyVzfroRFw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S02_PV_PROFILE_ISTIBSYARAH_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">
                    “Since meeting new friends who also have different religions, I am much more interested in diversity and tolerance, and more understanding of different ideas, beliefs and opinions.”
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-3" class="section video-scroll" data-section="0">
    <div class="bg-video">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/oJpVODakT68?playlist=oJpVODakT68&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/oJpVODakT68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S02_PV_ACTIVITY_ISTIBSYARAH_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        25-year-old Istibsyarah was aware of certain pockets of intolerance and fanaticism growing amongst the youth of Guluk-Guluk village.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        As  result, Istibsyarah wanted to experience more diversity outside of her village and address extremist ideology in her community.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        The Peace Village programme began engaging the youth of Guluk-Guluk in an array of activities.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Under the Peace Village programme, she immediately joined her friends, jumping into youth-orientated activities focused on tolerance and inter-faith harmony.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-2-4" class="section" data-section="0">
    <div class="section-bg lozad fixed greyscale" data-background-image="images/st-2/st2-2.jpeg"></div>
    <!-- <img class="greyscale lozad" data-src="images/st-2/st2-2.jpeg" alt="img-2" /> -->
    <div class="content-section">
        <div class="half-full-height-blue-opacity">
            <p class="quote regular">
                “Getting involved with the Wahid Foundation’s Youth Camp allowed me to make new friends from the city, who have different backgrounds and follow different religions.”
            </p>
        </div>
    </div>
</section>

<section id="st-2-5" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-2/st2-2.jpeg"></div>
    <div class="section-bg bottom-overlay-opacity fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                In 2020, UN Women and the Wahid Foundation initiated the “Peace Village Challenge” to engage youth to create innovative social projects to promote social cohesion during COVID-19.
            </p>
        </div>
    </div>
</section>

<section id="st-2-6" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-3.jpeg" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay">
                <p class="thin-text">
                    The pandemic posed new human security threats where extremist groups spread misinformation online and perpetuate intolerance. 
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-7" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-4.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">
                    Noticing this trend, Istibsyarah took up the Peace Village Challenge coordinator role and initiated a Kongkow (“discussion” in Madurese) to invite young people from neighbouring communities to discuss local wisdom on peace and tolerance in Madurese culture.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-8" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-2/st2-5.jpeg"></div>
    <div class="section-bg bg-blue-overlay fixed"></div>
    <div class="content-section">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">
                    “I was never particularly involved with adults in our village, but now I am confident to engage in community-based activities with all members of our village.”
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-9" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-2/st2-6.jpeg"></div>
    <div class="section-bg bg-black-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                Aside from delving into youth-based issues and outcomes, Guluk-Guluk’s Peace Village Working Group also links youth with the wider village social structures and formal village institutions and governance. Through the programme, the village’s youth are empowered to deliver their specific input and ideas within village forums and sessions, ensuring decision-makers and village leaders hear their needs and voices.
            </p>
        </div>
    </div>
</section>

<section id="st-2-10" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-2/st2-7.jpeg"></div>
    <div class="section-bg bottom-overlay-opacity fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                As a result, the adults of Guluk-Guluk are increasingly enthusiastic about engaging with and listening to youth groups in the community. The increased youth representation in the Peace Village Working Group will bring more positive outcomes for Guluk-Guluk’s younger generations.
            </p>
        </div>
    </div>
</section>

<section id="st-2-11" class="section video-scroll" data-section="0">
    <div class="bg-video">
        <video class="lozad" data-src="video/S02_PV_COMMENTS_ISTIBSYARAH_V2.mp4" controls playsinline></video>
    </div>
    <!-- <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/P6ac9Fu5Etw?playlist=P6ac9Fu5Etw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
</section>

<section id="st-2-12" class="section bg-image-overlay" data-section="0">
    <!-- <img src="images/st-3/st3-5.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"> -->
    <div class="content-section align-bottom">
        <div class="half-full-height-blue">
            <div class="cardbox-overlay">
                <p class="thin-text">
                    Istibsyarah is one of the 24 youth champions across the four Peace Villages in East Java. The youth-focused activities have empowered her and other young community members to become creators of peace narratives in their villages.
                </p>
            </div>
        </div>
    </div>

    <div class="image-scroll">
        <img class="lozad" data-src="images/st-2/st2-8.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
        <img class="lozad" data-src="images/st-2/st2-9.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    </div>

    <div class="icon-scroll">
        <img class="lozad" data-src="images/icon-arrow.png" alt="" />
    </div>
</section>

<section id="st-2-14" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-2/st2-10.jpeg"></div>
    <div class="content-section align-bottom" data-aos="fade-bottom" data-aos-duration="2000">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text">
                    Istibsyarah and her friends – old and new – hope that these activities can expand to address more challenges. Engaging more youth will enable them to play a more active role in creating peaceful communities founded on tolerance and diversity.
                </p>
            </div>
        </div>
    </div>
</section>