<section id="st-8-1" class="section" data-section="0">
    <div class="section-bg image-bg lozad" data-background-image="images/st-8/st8-1.jpeg"></div>
    <div class="content-section">
        <div class="title-story" data-aos="fade-right" data-aos-duration="2000">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">08. SENDY</h3>
        </div>
    </div>
</section>

<section id="st-8-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/A-1Dyq1C9PI?playlist=A-1Dyq1C9PI&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S08_PV_PROFILE_SENDY_V2.mp4" muted loop playsinline></video>
    </div>
    <div class="section-bg half-blue-left-overlay fixed"></div>
    <div class="content-section">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">
                    “The most meaningful thing I have learned is that women form a strong bridge for positive communication throughout our community.”    
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-3" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-8/st8-3.jpeg"></div>
    <div class="section-bg fixed bg-black-overlayx half-bottom-overlay"></div>
    <div class="content-section ">
        <div class="card-box mt-auto">
            <p class="story regular">
                When the husband of Sendy’s neighbour was arrested on terrorism charges, Sendy noticed her neighbour was hardly sighted outside of her home, most likely because she felt too embarrassed to engage with the rest of the community. 
            </p>
        </div>
    </div>
</section>

<section id="st-8-4" class="section" data-section="0">
    <div class="section-bg image-bg greyscale lozad fixed" data-background-image="images/st-8/st8-3.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity-right">
            <p class="quote regular" data-aos="fade-up" data-aos-duration="2000">
                “She was really finding things hard because of this. She had no money, no means of support, but she also didn’t want to help herself as she felt such shame due to her husband’s situation.”
            </p>
        </div>
    </div>
</section>

<section id="st-8-5" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-8/st8-4.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                Sendy didn’t hesitate to convene her women’s group to step in.
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-8/st8-4.jpeg">
        </div>
    </div>
</section>

<section id="st-8-6" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-8/st8-5.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                By getting her neighbour involved in Peace Village activities, such as receiving financial support for their home businesses, Sendy witnessed her neighbour gradually reintegrate and re-engage with her community, becoming an independent and active community member.
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-8/st8-5.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-8-7" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-8/st8-6.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                Through peacebuilding activities delivered through the Peace Village programme, Sendy and her community also drove the establishment of a working group for handling violence cases towards women and children and a village hotline for those affected by gender-based violence.
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-8/st8-6.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-8-8" class="section book-layout reversed" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-8/st8-7.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text italic">
                “With increased engagement and opportunity, women became more confident to take action to address domestic violence.”    
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-8/st8-7.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-8-9" class="section video-scroll fp-auto-height" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/yCnY0VAtEJY?playlist=yCnY0VAtEJY&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S08_PV_ACTIVITY_SENDY_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Such action addressing domestic violence was appearing in varying forms. 
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Through the Working Group, women realized that they could gain the knowledge to address domestic violence cases, giving them the power to maintain peace in their families and community. 
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                    Women’s groups were also invited to engage in formal forums and meetings undertaken by the village government.     
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        These results culminated in the opening of the <i>Ayu Candira Gallery</i> – a community space for women’s empowerment in Candirenggo village.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-8-10" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-8/st8-8.jpeg"></div>
    <div class="section-bg fixed half-bottom-overlay"></div>
    <!-- <img class="lozad" data-src="images/st-8/st8-8.jpeg" alt="img-2" /> -->
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
            Step by step, the role of women in the village took on greater meaning and quickly became a valuable stream for communication between the community and its government representatives.    
            </p>
        </div>
    </div>
</section>

<section id="st-8-11" class="section video-scroll fp-auto-height" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/mfTOwSFwqB8?playlist=mfTOwSFwqB8&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S08_PV_COMMENTS_SENDY_V2.mp4" controls playsinline></video>
    </div>
</section>

<section id="st-8-12" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-8/st8-9.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                The Peace Village’s peacebuilding and livelihoods activities have provided a foundation upon which Sendy and the other women of Candirenggo can continue to grow. Opportunities for the community’s women will only continue to emerge when they are empowered to become more independent, as has resulted from the programme’s efforts within the village neighbourhoods. 
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-8/st8-9.jpeg">
        </div>
    </div>
</section>

<section id="st-8-13" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-8/st8-10.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                As challenges will always arise, the women of Candirenggo aim to ensure sustainability for their women’s group, regardless of external changes in community or government.    
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-8/st8-10.jpeg">
        </div>
    </div>
</section>

<section id="st-8-14" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-8/st8-11.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text">
                    It is this secure, safe and empowering space that Sendy envisages for all the women of Candirenggo and its surroundings.
                </p>
            </div>
        </div>
    </div>
</section>
