<section id="st-2-1" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-1.jpeg" alt="img-1" />
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">02. ISTIBSYARAH</h3>
        </div>
    </div>
</section>

<section id="st-2-2" class="section" data-section="0">
    <!-- <video id="v-st-2-2" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/pLyVzfroRFw?playlist=pLyVzfroRFw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/pLyVzfroRFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">“Getting involved with the Wahid Foundation’s Youth Camp allowed me to make new friends from the city, who have different backgrounds and follow different religions.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-3" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-2-3" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/oJpVODakT68?playlist=oJpVODakT68&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/oJpVODakT68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Istibsyarah was aware of certain pockets of intolerance and fanaticism growing amongst the youth of Guluk-Guluk village.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">While she didn’t feel that she was particularly intolerant herself, Istibsyarah wanted to experience more diversity outside of her village.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">The Peace Village programme began engaging the youth of Guluk-Guluk in an array of activities.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">So Istibsyarah was quick to join in with her friends, jumping into youth-orientated activities that focused on tolerance and inter-faith harmony.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
      <section id="st-2-3" class="section video-scroll" data-section="0">
        <video id="v-st-2-3" class="video-background" loop muted>
        </video>
        <div class="content-section align-center">
            <div class="center-box d-flex">
              <div class="list-scroll"></div>
                <div class="list-box-opacity">
                  <p class="thin-text">Initially, Fadhilah and the other women were provided training on financial literacy and management.</p>
                </div>
            </div>
            <div class="list-scroll">
              <div class="list-box-opacity">
                <p class="thin-text">This had a significant impact on how they managed their small home-based businesses.</p>
              </div>
            </div>

            <div class="list-scroll">
              <div class="list-box-opacity">
                <p class="thin-text">Women in Guluk-Guluk often undertake household production and sales of goods such as food, drinks and handicrafts.</p>
              </div>
        </div>

        <div class="list-scroll">
              <div class="list-box-opacity">
                <p class="thin-text">This aims to provide ongoing additional income to their family unit.</p>
              </div>
            </div>
        </div>
      </section> -->

<section id="st-2-4" class="section" data-section="0">
    <img class="greyscale lozad" data-src="images/st-2/st2-2.jpeg" alt="img-2" />
    <div class="content-section align-bottom" data-aos="fade-right" data-aos-duration="2000">
        <div class="half-full-height-blue-opacity">
            <p class="quote regular">“Since meeting new friends who also have different religions, I am much more interested in diversity and tolerance, and more understanding of different ideas, beliefs and opinions.”</p>
        </div>
    </div>
</section>

<section id="st-2-5" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-2.jpeg" alt="img-2" />
    <div class="content-section align-bottom bottom-overlay-opacity" data-aos="fade-right" data-aos-duration="2000">
        <div class="card-box">
            <p class="story regular">The Peace Village programme in Guluk-Guluk invited the village’s youth to come together in activities and forums to broaden their understanding and interaction across backgrounds, religious beliefs, and differing age groups.</p>
        </div>
    </div>
</section>

<section id="st-2-6" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-3.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">These types of activities were significantly different than those that Istibsyarah would usually get involved with, but she was quick to leave behind any feelings of hesitancy or awkwardness.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-7" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-4.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">The camps and challenges included young women and men from Guluk-Guluk, and delivered training and support on how to overcome issues faced by the region’s youth, including intolerance, harassment and online gender-based violence.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-8" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-5.jpeg" alt="img-2" />
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">“I was never particularly involved with adults in our village, but now I am confident to engage in community-based activities with all members of our village.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-9" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-6.jpeg" alt="img-2" />
    <div class="content-section bg-black-overlay d-flex align-bottom">
        <div class="d-flex align-bottom" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">Aside from delving into youth-based issues and outcomes, Guluk-Guluk’s Peace Village working group is also linking youth with the wider village social structures – as well as with formal village institutions and governance. Through the programme, the village’s youth have been empowered to deliver their specific input and ideas within village forums and sessions, ensuring that their needs and voices are considered within wider village decisions and activities.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-10" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-7.jpeg" alt="img-2" />
    <div class="content-section bottom-overlay-opacity d-flex align-bottom">
        <div class="d-flex align-bottom" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">As a result, the adults of Guluk-Guluk are increasingly enthusiastic to engage with and invite the input of the community’s youth. While it is still early days, more youth are now included in the Peace Village working group, and it is hoped this will bring about more positive outcomes for Guluk-Guluk’s younger generations.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-2-11" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-2-11" class="video-background" loop="" muted=""></video> -->
    <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/P6ac9Fu5Etw?playlist=P6ac9Fu5Etw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/P6ac9Fu5Etw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
</section>

<!-- 
      <section id="st-2-12" class="section" data-section="0">
        <img src="images/st-2/st2-8.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000">
        <div class="content-section align-bottom">
          <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
              <p class="thin-text">
                Istibsyarah’s life, and the lives of many other of the 
                village’s youth, have changed since the implementation of 
                the Peace Village programme in Guluk-Guluk. The youth-focused 
                activities have supported them to break from the everyday norms 
                of village life and take part in something exciting and new. 
              </p>
            </div>
          </div>
        </div>
      </section>


      <section id="st-2-13" class="section" data-section="0">
        <img src="images/st-2/st2-9.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000">
        <div class="content-section align-bottom">
          <div class="d-flex align-center full-height" >
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
              <p class="thin-text">
                Istibsyarah’s life, and the lives of many other 
                of the village’s youth, have changed since the 
                implementation of the Peace Village programme in 
                Guluk-Guluk. The youth-focused activities have supported 
                them to break from the everyday norms of village life 
                and take part in something exciting and new. 
              </p>
            </div>
          </div>
        </div>
      </section> -->

<section id="st-2-12" class="section bg-image-overlay" data-section="0">
    <!-- <img src="images/st-3/st3-5.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000"> -->
    <div class="content-section align-bottom">
        <div class="half-full-height-blue">
            <div class="cardbox-overlay">
                <p class="thin-text">Istibsyarah’s life, and the lives of many other of the village’s youth, have changed since the implementation of the Peace Village programme in Guluk-Guluk. The youth-focused activities have supported them to break from the everyday norms of village life and take part in something exciting and new.</p>
            </div>
        </div>
    </div>

    <div class="image-scroll">
        <img class="lozad" data-src="images/st-2/st2-8.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
        <img class="lozad" data-src="images/st-2/st2-9.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    </div>

    <div class="icon-scroll">
        <img class="lozad" data-src="images/icon-arrow.png" alt="" />
    </div>
</section>

<section id="st-2-14" class="section" data-section="0">
    <img class="lozad" data-src="images/st-2/st2-10.jpeg" alt="img-2" />
    <div class="content-section align-bottom" data-aos="fade-bottom" data-aos-duration="2000">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text">Istibsyarah and her friends – old and new – hope that these activities can expand and develop to address more challenges and engage more youth, and that they can all play an active role in the creation of younger generations founded on tolerance and diversity.</p>
            </div>
        </div>
    </div>
</section>

