<section id="st-10-1" class="section story-opening" data-section="0">
    <div class="section-bg image-bg lozad" data-background-image="images/st-10/st10-1.jpeg"></div>
    <div class="content-section">
        <div class="title-story" data-aos="fade-right" data-aos-duration="2000">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">10. ANDROMEDA</h3>
        </div>
    </div>
</section>

<section id="st-10-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/2v5r9-1X2UY?playlist=2v5r9-1X2UY&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S10_PV_PROFILE_ANDROMEDA_V2.mp4" muted loop playsinline></video>
    </div>
    <div class="section-bg half-blue-left-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box align-center">
            <p class="quote">
            “After participating in Peace Village activities, I have become very engaged in championing women’s rights and equality, and I have realized that I am a feminist.”    
            </p>
        </div>
    </div>
</section>

<section id="st-10-3" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-10/st10-3.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                After finishing university in 2018, Andromeda felt a little unsure of what came next. For young women in Candirenggo village, career and lifestyle opportunities are sometimes limited, requiring women to either leave and try life in a larger city or settle down and start making a family.    
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-10/st10-3.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-10-4" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-10/st10-4.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                At these crossroads, Andromeda – or Andro as she prefers to be called – was invited to participate in the Peace Village activities being implemented in her district. Andro and two of her friends joined the programme’s Youth Camp, and this experience led her to become one of Candirenggo’s leading young voices on women’s issues.
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-10/st10-4.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-10-5" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/EytmIJNOTqQ?playlist=EytmIJNOTqQ&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S10_PV_COMMENTS_ANDROMEDA_V2_2.mp4" controls playsinline></video>
    </div>
</section>

<section id="st-10-6" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-10/st10-6.jpeg"></div>
</section>

<section id="st-10-7" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/nm7AUocf4Ic?playlist=nm7AUocf4Ic&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S10_PV_ACTIVITY_ANDROMEDA_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                    Many of Candirenggo’s youth don’t engage in community activities as they are busy working, leaving a gap between the youth and the wider community.    
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                    Through the Peace Village Challenge activity, Andro proposed a project about mental health for women and children during the COVID-19 pandemic.     
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        The proposal succeeded, and Andro and her friends then delivered a course focused on supporting the mental health of Candirenggo’s women.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        The two-day event received positive feedback and appreciation from the women of Candirenggo who participated.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-10-8" class="section" data-section="0">
    <div class="section-bg lozad fixed" data-background-image="images/st-10/st10-7.jpeg"></div>
    <!-- <img class="lozad" data-src="images/st-10/st10-7.jpeg" alt="img-2" /> -->
</section>

<section id="st-10-9" class="section" data-section="0">
    <div class="section-bg image-bg greyscale lozad fixed" data-background-image="images/st-10/st10-7.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity" >
            <p class="quote regular" data-aos="fade-up" data-aos-duration="2000">
            “We made a class about decreasing stress during the pandemic situation, and then a lesson on how to make aromatherapy candles to help with stress reduction, which the women in the village really enjoyed.”    
            </p>
        </div>
    </div>
</section>

<section id="st-10-10" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-10/st10-8.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                The further Andro and her friends engage with their community, the more opportunities they identify to support other women and youth. More recently, with Peace Village support, Andro and six other young people have launched a social media campaign for Candirenggo named Local Female Project (<a href="https://www.instagram.com/localfemaleproject/" target="_blank">@localfemaleproject</a>).    
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-10/st10-8.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-10-11" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-10/st10-9.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                The social media accounts address an array of challenges faced by Candirenggo’s women, including ending domestic violence and countering misinformation, as well as profiling other women leaders from around their community.     
            </p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-10/st10-9.jpeg">
            <!-- <div class="book-image lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-10-12" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-10/st10-10.jpeg"></div>
    <div class="section-bg fixed half-blue-left-overlay"></div>
    <div class="content-section">
        <div class="card-box align-center">
            <p class="quote italic" data-aos="fade-right" data-aos-duration="2000">
            “I’ve learned about our rights in our community – that we actually have a say. I’ve also learned about how our village works and the processes I can use to be more actively engaged and improve women’s rights in my community.”    
            </p>
        </div>
    </div>
</section>

<section id="st-10-13" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-10/st10-11.jpeg"></div>
    <div class="section-bg fixed  half-bottom-overlay"></div>

    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular" data-aos="fade-top" data-aos-duration="2000">
            Women’s involvement in village activities in Candirenggo has increased significantly. Young women like Andro are taking a more active role in spreading ideas of peace and gender equality. Peace Village has changed how village processes are undertaken, ensuring a stronger focus on equality and participation of women and youth in sustaining peace.    
            </p>
        </div>
    </div>
</section>

<section id="st-10-14" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-10/st10-12.jpeg"></div>
    <!-- <img class="lozad" data-src="images/st-10/st10-12.jpeg" alt="img-2" / data-aos="fade-top" data-aos-duration="2000"> -->
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text">
                    Increasing youth participation at the village level is Andro’s priority to ensure that continuous voices from the youth are heard and that diverse and engaged youth groups bring refreshment and regeneration.
                </p>
            </div>
        </div>
    </div>
</section>
