<section id="st-7-1" class="section" data-section="0">
    <img src="images/st-7/st7-1.png" alt="img-1" />
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">07. MEY & DEWI</h3>
        </div>
    </div>
</section>

<section id="st-7-2" class="section" data-section="0">
    <!-- <video id="v-st-7-2" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/L5qVXhWKpnw?playlist=L5qVXhWKpnw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote italic">“The Peace Village has changed my mindset. I used to want to just be average – not stand out. Now I want to act fairly and be a decision-maker, and I now know who I am as a woman and a young person.”</p>

                <p class="quote ta-right quote-author">- Dewi</p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-3" class="section" data-section="0">
    <img src="images/st-7/st7-3.png" alt="img-2" />
    <div class="content-section black-overlay-bottom d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">Mey and Dewi were both in university when they first got involved in the Peace Village programme taking place in their village of Sidomulyo. After being active in the Youth Camp and other Peace Village activities, both women began utilizing their newfound skils, understanding and confidence to enact change in the community around them.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-4" class="section" data-section="0">
    <img src="images/st-7/st7-4.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">
                    “I learnt so much about handling conflict and being more tolerant. I realized that I had to be at peace with myself first, then I could work for peace in my environment.”<br />
                    – Mey
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-5" class="section" data-section="0">
    <img src="images/st-7/st7-5.png" alt="img-2" />
    <div class="content-section black-overlay-bottom d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-bottom" data-aos-duration="2000">Their experience growing up in Sidomulyo was to shape the way that Mey and Dewi approached issues faced by women in their community. Many of the community members still see a women’s role as only in the home, and this was a belief that Dewi and Mey wanted to change.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-6" class="section" data-section="0">
    <img src="images/st-7/st7-6.png" alt="img-2" />
    <div class="content-section black-overlay-bottom d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-bottom" data-aos-duration="2000">To do this, they felt that they had to start changing the perceptions held by Sidomulyo’s women themselves. Through the Peace Village Challenge, the young women proposed, and successfully implemented, a workshop called Human Rights School, which aimed to provide the women of Sidomulyo with an array of information and ideas regarding their rights and opportunities.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-7" class="section" data-section="0">
    <img class="greyscale" src="images/st-7/st7-6.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity" data-aos="fade-right" data-aos-duration="2000">
            <p class="quote regular">“Young women here are so often underestimated, but through Peace Village we were equal with the men and our input was valued. This was the idea upon which we developed the Human Rights School project.” <span>- Dewi</span></p>
        </div>
    </div>
</section>

<section id="st-7-8" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-7-8" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/C2iHXK--AD4?playlist=C2iHXK--AD4&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Mey and Dewi noticed an increase in conflict between children and their parents – particularly mothers – due to increased time at home during the pandemic in 2020.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">They again turned to the Peace Village Challenge, this time to support alternative learning opportunities for the village’s children.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">The Learning Garden project invited youth to learn outside of their classrooms and homes, and to discover that learning doesn’t have to be monotone.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Children engaged with the natural environment, and also learnt about things such as human rights and tolerance.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-7-9" class="section" data-section="0">
    <img src="images/st-7/st7-7.png" alt="img-1" />
    <div class="content-section bg-blue-overlay">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote" data-aos="fade-bottom" data-aos-duration="2000">
                    “The children were happier, more relaxed, and friendly towards the teachers and their friends around them. It was a really significant change just from a small environmental adjustment.”
                    <span>- Mey</span>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-10" class="section" data-section="0">
    <img src="images/st-7/st7-8.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">Since their engagement in the Peace Village programme, the situation is beginning to change in the Sidomulyo community.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-11" class="section" data-section="0">
    <img src="images/st-7/st7-9.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">The support of children’s wellbeing is being expanded and strengthened through Rumah Ayom, while women are taking a much more proactive role in handling conflict and building tolerance in the community through the Peace Village working group.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-12" class="section" data-section="0">
    <!-- <video id="v-st-7-12" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/2S6_nGnAkGw?playlist=2S6_nGnAkGw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="st-7-13" class="section" data-section="0">
    <img src="images/st-7/st7-10.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text italic" data-aos="fade-bottom" data-aos-duration="2000">For Mey and Dewi, the inclusion and engagement of youth – as the seeds of the nation’s future – is imperative for peaceful and tolerant Sidomulyo, as well as for Indonesia as a whole.</p>
            </div>
        </div>
    </div>
</section>
