<section id="st-10-1" class="section" data-section="0">
    <img src="images/st-10/st10-1.png" alt="img-1" />
    <div class="content-section">
        <div class="title-story" data-aos="fade-right" data-aos-duration="2000">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">10. ANDROMEDA</h3>
        </div>
    </div>
</section>

<section id="st-10-2" class="section" data-section="0">
    <!-- <video id="v-st-10-2" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/2v5r9-1X2UY?playlist=2v5r9-1X2UY&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">“After participating in Peace Village activities I have become very engaged in championing women’s rights and equality, and I have realized that I am a feminist.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-10-3" class="section" data-section="0">
    <img src="images/st-10/st10-3.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-small">
            <div class="cardbox-overlay">
                <p class="thin-text" data-aos="fade-right" data-aos-duration="2000">After finishing university in 2018, Andromeda felt a little unsure of what came next. For young women such as her in Candirenggo village, career and lifestyle opportunities are sometimes limited, requiring women to either leave and try life in a larger city, or settle down and start making a family.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-10-4" class="section" data-section="0">
    <img src="images/st-10/st10-4.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-small">
            <div class="cardbox-overlay">
                <p class="thin-text" data-aos="fade-right" data-aos-duration="2000">It was at these crossroads that Andromeda – or Andro as she prefers to be called – was invited to participate in the Peace Village activities being implemented in her district. Andro and two of her friends were selected to join the Youth Camp, and it was this participation that led to her becoming one of Candirenggo’s leading young voices on women’s issues.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-10-5" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-10-5" class="video-background" loop="" muted=""></video> -->
    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/EytmIJNOTqQ?playlist=EytmIJNOTqQ&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="st-10-6" class="section" data-section="0">
    <img src="images/st-10/st10-6.png" alt="img-2" />
</section>

<section id="st-10-7" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-10-7" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/nm7AUocf4Ic?playlist=nm7AUocf4Ic&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Many of Candirenggo’s youth don’t engage in community activities as they are busy working, leaving a gap between the youth and the wider community.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Through the Peace Village Challenge activity, Andro proposed a project about mental health for women and children during the pandemic.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">The two-day event was met with positive feedback and appreciation from the women of Candirenggo who participated.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-10-8" class="section" data-section="0">
    <img src="images/st-10/st10-7.png" alt="img-2" />
</section>

<section id="st-10-9" class="section" data-section="0">
    <img class="greyscale" src="images/st-10/st10-7.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity" data-aos="fade-right" data-aos-duration="2000">
            <p class="quote regular">“Young women here are so often underestimated, but through Peace Village we were equal with the men and our input was valued. This was the idea upon which we developed the Human Rights School project.”</p>
        </div>
    </div>
</section>

<section id="st-10-10" class="section" data-section="0">
    <img src="images/st-10/st10-8.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">The further Andro and her friends engage with their community, the more opportunities they identify to support other women and youth. More recently, with Peace Village support, they have launched a social media campaign for Candirenggo named Local Female Project (@localfemaleproject).</p>
            </div>
        </div>
    </div>
</section>

<section id="st-10-11" class="section" data-section="0">
    <img src="images/st-10/st10-9.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">The social media accounts address an array of challenges faced by Candirenggo’s women, including ending domestic violence and countering misinformation, as well as profiling other women leaders from around their community.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-10-12" class="section" data-section="0">
    <img src="images/st-10/st10-10.png" alt="img-2" />
    <div class="content-section align-bottom bg-blue-overlay">
        <div class="half-full-height-blue">
            <div class="cardbox-overlay">
                <p class="thin-text italic" data-aos="fade-right" data-aos-duration="2000">“I’ve learnt about our rights in our community – that we actually have a say. I’ve also learnt about how our village works, and the processes I can use to be more actively engaged and improve women’s rights in my community.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-10-13" class="section" data-section="0">
    <img src="images/st-10/st10-11.png" alt="img-2" />
    <div class="content-section black-overlay-bottom d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-top" data-aos-duration="2000">Women’s involvement in village activities in Candirenggo has increased significantly, and it is youth such as Andro who wish to be more actively engaged. Peace Village has brought about change to the way in which village processes are undertaken, ensuring a stronger focus to equality and participation of women and youth.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-10-14" class="section" data-section="0">
    <img src="images/st-10/st10-12.png" alt="img-2" / data-aos="fade-top" data-aos-duration="2000">
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text italic" data-aos="fade-bottom" data-aos-duration="2000">Increasing the participation of youth at the village level is Andro’s priority, as to ensure that it isn’t the same continuous voices, and that there is refreshment and regeneration brought by a diverse and engaged youth.</p>
            </div>
        </div>
    </div>
</section>
