<section id="st-1-1" class="section story-opening" data-section="0">
    <div class="section-bg image-bg lozad" data-background-image="images/st-1/st1-1.jpeg"></div>
    <!-- <img class="lozad" data-src="images/st-1/st1-1.jpeg" alt="img-1" /> -->
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">01. FADHILAH</h3>
        </div>
    </div>
</section>

<section id="st-1-2" class="section" data-section="1">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/JEOL6r8DCVk?playlist=JEOL6r8DCVk&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S01_PV_PROFILE_FADHILAH_V2.mp4" muted loop playsinline></video>
    </div>
    <div class="section-bg fixed half-blue-left-overlay"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="card-box align-center w-45">
            <p class="quote">“The Peace Village programme has brought about more equality between men and women in our community.”</p>
        </div>
    </div>
</section>

<section id="st-1-3" class="section" data-section="0">
    <div class="section-bg image-bg mobile-40 lozad fixed" data-background-image="images/st-1/st1-2.jpeg"></div>
    <div class="half-left-overlay bg-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">Much of Fadhilah’s life has been spent teaching young girls in one of Guluk-Guluk village’s Islamic boarding schools. Having grown up in the Sumenep region, Fadhilah was accustomed to patriarchal values and the everyday inequality faced by women. But this unequal power relationship has been gradually shifting in Guluk-Guluk.</p>
        </div>
    </div>
</section>

<section id="st-1-4" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed mobile-60" data-background-image="images/st-1/st1-3.jpeg"></div>
    <div class="half-left-overlay bg-overlay fixed mobile"></div>
    <div class="content-section align-bottom" data-aos="fade-top" data-aos-duration="2000">
        <div class="card-box mt-auto">
            <p class="story regular">Fadhilah stumbled into some Peace Village activities when the Wahid Foundation invited her to facilitate a women’s economic empowerment group – to bring women together to form collectives that produce and sell products or services. Fadhilah soon realized the potential changes she could bring to herself and the women in Guluk-Guluk village.</p>
        </div>
    </div>
</section>

<section id="st-1-5" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed greyscale mobile-60" data-background-image="images/st-1/st1-3.jpeg"></div>
    <!-- <img class="greyscale lozad" data-src="images/st-1/st1-3.jpeg" alt="img-2" /> -->
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity">
            <p class="quote regular" data-aos="fade-up" data-aos-duration="2000">“When we spoke about the inequality, and how much of it was rooted in a lack of financial independence, I became very interested in the Peace Village concept and its activities.”</p>
        </div>
    </div>
</section>

<section id="st-1-6" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/t3Mcw38hxPY?playlist=t3Mcw38hxPY&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lozad" data-src="video/S01_PV_ACTIVITY_FADHILAH_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Initially, Fadhilah and the other women in her group received training on financial literacy and management provided by the Wahid Foundation.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">This had a significant impact on how they managed their small home-based businesses.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Women in Guluk-Guluk often undertake household production and sales of food, drinks, and handicrafts.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Those activities bring additional income to their family unit.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-1-7" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-1/st1-5.jpeg"></div> -->
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">The financial training equipped Fadhilah and other women participants with essential skills that they can apply to sales of household production, turning their previous non-profitable hobby into a business.</p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-1/st1-5.jpeg"></div>
    </div>
</section>

<!-- <div id="st-1-6-wrapper" class="scroll-group section">
    <div class="bg-video section-bg fixed">
        <video class="lozad" data-src="video/S01_PV_ACTIVITY_FADHILAH_V2.mp4" muted loop playsinline></video>
    </div>
    <section id="st-1-6-1" class="section video-scroll" data-section="0">
        <div class="content-section align-center">
            <div class="center-box d-flex">
                <div class="list-scroll">
                    <div class="list-box-opacity">
                        <p class="thin-text">Initially, Fadhilah and the other women in her group received training on financial literacy and management provided by the Wahid Foundation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="st-1-6-2" class="section video-scroll" data-section="0">
        <div class="content-section align-center">
            <div class="center-box d-flex">
                <div class="list-scroll">
                    <div class="list-box-opacity">
                        <p class="thin-text">This had a significant impact on how they managed their small home-based businesses.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="st-1-6-3" class="section video-scroll" data-section="0">
        <div class="content-section align-center">
            <div class="center-box d-flex">
                <div class="list-scroll">
                    <div class="list-box-opacity">
                        <p class="thin-text">Women in Guluk-Guluk often undertake household production and sales of food, drinks, and handicrafts.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="st-1-6-4" class="section video-scroll" data-section="0">
        <div class="content-section align-center">
            <div class="center-box d-flex">
                <div class="list-scroll">
                    <div class="list-box-opacity">
                        <p class="thin-text">Those activities bring additional income to their family unit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->

<section id="st-1-8" class="section book-layout" data-section="0">
    <div class="section-bg fixed lozad" data-background-image="images/bg-toc.png"></div>
    <!-- <div class="section-bg book-image fixed lozad" data-background-image="images/st-1/st1-6.jpeg"></div> -->

    <div class="content-section">
        <div class="text-container">
            <p class="thin-text italic">“The understanding and skills that the training provided started significant change for women in our community, as it was practical. When we used it, all of a sudden, we started making money. We have earned some money and gained financial independence, and the men can see the value in the work we are doing.”</p>
        </div>
        <div class="image-container lozad" data-background-image="images/st-1/st1-6.jpeg">
            <!-- <div class="section-bg book-image lozad" data-background-image="images/st-1/st1-6.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-1-9" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed" data-background-image="images/st-1/st1-7.jpeg"></div>
    <div class="section-bg half-left-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">This economic-based increase in equality for the women of Guluk-Guluk was, however, just the beginning of real change. From this starting point, the Peace Village programme expanded its reach and activities, and Fadhilah started to sense a strengthened unity and connectedness in the village.</p>
        </div>
    </div>
</section>

<section id="st-1-10" class="section" data-section="0">
    <div class="bg-video video-controls section-bg fixed">
        <video class="lozad" data-src="video/S01_PV_COMMENTS_FADHILAH_V2.mp4" controls playsinline></video>
    </div>
</section>

<section id="st-1-11" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed mobile-15" data-background-image="images/st-1/st1-8.jpeg"></div>
    <div class="section-bg half-left-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">Women in the village were also starting to become increasingly engaged in local governance.</p>
        </div>
    </div>
</section>

<section id="st-1-12" class="section" data-section="0">
    <div class="section-bg image-bg lozad fixed mobile-75" data-background-image="images/st-1/st1-10.jpeg"></div>
    <div class="section-bg half-left-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">Together with other women’s group members, Fadhilah later joined broader activities as administrators of the Guluk-Guluk Peace Village Working Group, aiming to engage more women into village governance and prevent violence and conflict in the community.</p>
        </div>
    </div>
</section>

<section id="st-1-13" class="section" data-section="0">
    <div class="section-bg image-bg mobile-65 lozad fixed" data-background-image="images/st-1/st1-11.jpeg">
        <!-- <img class="lozad" data-src="images/st-1/st1-11.jpeg" alt="img-2" /> -->
    </div>
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text">Growing from the realization of financial independence in the home and the wider community, women such as Fadhilah are now increasingly involved, engaged and empowered in many aspects of the community to contribute to harmonious and peaceful village life.</p>
            </div>
        </div>
    </div>
</section>
