<section id="st-5-1" class="section" data-section="0">
    <img src="images/st-5/st5-1.png" alt="img-1" />
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">05. ARIFAH</h3>
        </div>
    </div>
</section>

<section id="st-5-2" class="section" data-section="0">
    <!-- <video id="v-st-5-2" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/CWXOFnRQd84?playlist=CWXOFnRQd84&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">“I had heard of the Peace Village concept, but never really understood what it meant. However, once I got involved, I learnt many things that were new and interesting, and that I had never really considered.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-3" class="section" data-section="0">
    <img src="images/st-5/st5-3.png" alt="img-2" />
    <div class="content-section bg-black-overlay d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">The influence of the Peace Village programme in Arifah’s village of Prancak is significant. It was the programme’s activities that prepared and drove Arifah to be more engaged in her community, resulting in her being chosen as the head of her neighbourhood – a position often reserved for men.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-4" class="section" data-section="0">
    <img src="images/st-5/st5-4.png" alt="img-2" />
    <div class="content-section bottom-overlay-opacity d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">In a region home to high levels of child marriage and early marriage, Arifah is utilizing this leadership to counter the issue; focusing on education for girls, as well as direct protection for women and children.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-5" class="section" data-section="0">
    <img src="images/st-5/st5-5.png" alt="img-1" />
    <div class="content-section blue-overlay-right justify-end">
        <div class="d-flex align-center justify-end">
            <div class="card-box">
                <p class="quote" data-aos="fade-left" data-aos-duration="2000">“Many of these issues can be overcome by parents understanding the rights and opportunities for their girls”.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-6" class="section video-scroll" data-section="0">
    <!-- <video id="v-st-5-6" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/JWyMWs4Y-3c?playlist=JWyMWs4Y-3c&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">As one of her first acts in the position of neighbourhood head, Arifah organized parenting classes for households in her community.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Delivered under Peace Village programming, these classes proved beneficial for both the parents and their children.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">They provide simple and culturally appropriate guidance on gender and children’s education for Prancak’s parents.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">The community are recognizing the importance of school for their girls, and many now want to prioritize their children’s education.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-5-6" class="section" data-section="0">
    <img class="greyscale" src="images/st-5/st5-6.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity-right">
            <p class="quote regular" data-aos="fade-left" data-aos-duration="2000">“So many parents in our village have joined the classes, and they always speak about the value of the new knowledge and skills they receive.”</p>
        </div>
    </div>
</section>

<section id="st-5-7" class="section" data-section="0">
    <img src="images/st-5/st5-7.png" alt="img-2" />
    <div class="content-section bottom-overlay-opacity d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-top" data-aos-duration="2000">After being chosen as the neighbourhood head, Arifah was also chosen to lead Prancak’s Women and Child Protection Unit, implemented through the Peace Village programme.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-8" class="section" data-section="0">
    <img src="images/st-5/st5-8.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">She continues to develop and expand the unit, and has also advocated to the district Regent for its inclusion within formal policy and programming at the village level across the wider region.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-9" class="section" data-section="0">
    <img src="images/st-5/st5-9.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">These roles see Arifah not only leading the women of Prancak village, but also numerous men, in what is a traditionally patriarchal society.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-10" class="section" data-section="0">
    <img src="images/st-5/st5-10.png" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">Arifah credits the softer and more inclusive approach to her interactions with the community that she learnt through Peace Village training and workshops as the key to navigating some of the gender-based challenges in her new positions of leadership.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-11" class="section video-scroll" data-section="0">
    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/ZJFeoNzUBWE?playlist=ZJFeoNzUBWE&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="st-5-12" class="section" data-section="0">
    <img src="images/st-5/st5-11.png" alt="img-2" />
    <div class="content-section">
        <div class="half-overlay d-flex align-bottom" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">As Arifah witnesses the change experienced by Prancak’s women, she also reflects on her own personal growth. From farming rice to representing her community in front of male-dominated government forums, Arifah has experienced personal change on many levels.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-13" class="section" data-section="0">
    <img src="images/st-5/st5-12.png" alt="img-2" />
    <div class="content-section">
        <div class="half-overlay d-flex align-bottom" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">She also works with others to experience such change, as more and more women become increasingly active in the community – empowered to do so through the Peace Village activities.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-14" class="section" data-section="0">
    <img src="images/st-5/st5-13.png" alt="img-2" />
    <div class="content-section">
        <div class="half-overlay d-flex align-bottom" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-box">
                <p class="story regular">Arifah also wants women in her village to be part of whatever activity, career, or pathway they choose for themselves, and is working to establish a women’s forum to support members to explore these aspirations.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-5-15" class="section" data-section="0">
    <img src="images/st-5/st5-14.png" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text italic">“I’ve learnt to use my voice. I’ve learnt to advocate respectfully and softly, but to always have a voice. Now, I have confidence, as a woman, to use this voice.”</p>
            </div>
        </div>
    </div>
</section>
