<section id="st-6-1" class="section" data-section="0">
    <div class="section-bg image-bg lazyload" data-bg="images/st-6/st6-1.jpeg"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">06. AZIZAH</h3>
        </div>
    </div>
</section>

<section id="st-6-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/GcBxEgAGIf8?playlist=GcBxEgAGIf8&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S06_PV_PROFILE_AZIZAH_V2.mp4" muted loop playsinline></video>
    </div>
    <div class="section-bg fixed bg-blue-overlay"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="card-box">
            <p class="quote">
                “I have always helped children who need me, but after engaging in the Peace Village activities, I am now more prepared to extend my support further.”
            </p>
        </div>
    </div>
</section>

<section id="st-6-3" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-6/st6-3.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                As a teacher at Sidomulyo’s local primary school, Azizah holds a lifelong interest in the welfare and development of the village’s children. Such an interest saw her participate in the Peace Village programme during its early years and become a leader of women and child protection efforts in Sidomulyo village.
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-6-3-1" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-6/st6-4.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                As the Secretary of the Sidomulyo Peace Village Working Group, Azizah aims to bring positive change for women and children across the village. At the same time, in her own newly developed programme, she provides hands-on support for several neglected or abandoned children.
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-6-4" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/NkKdjnlh32s?playlist=NkKdjnlh32s&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S06_PV_ACTIVITY_AZIZAH_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Azizah implements the <i>Rumah Ayom</i> programme from her own home.    
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        The programme provides a safe refuge for children without parental care due to divorced, unmarried, or migrant parents.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        <i>Rumah Ayom</i> provides them with a safe place to learn, rest and develop, and also takes preventative actions to improve the situation.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="st-6-5" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-6/st6-5.jpeg"></div>
    <div class="section-bg fixed bg-black-overlay"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
            Many triggers of child neglect in Sidomulyo are financial. In her role with the Peace Village Working Group, Azizah also focuses on guiding parents through activities to improve income and increase livelihoods opportunities.    
            </p>
        </div>
    </div>
</section>

<section id="st-6-6" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-6/st6-6.jpeg"></div>
    <div class="section-bg fixed bg-black-overlay"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
            She hopes that parents can become more capable and prepared to take responsibility for their children through these actions.    
            </p>
        </div>
    </div>
</section>

<section id="st-6-7" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/nsqVs6yJKnw?playlist=nsqVs6yJKnw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S06_PV_INTERVIEW_AZIZAH_V2.mp4" controls loop playsinline></video>
    </div>
</section>

<section id="st-6-8" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-6/st6-7.jpeg"></div>
    <div class="section-bg fixed bg-black-overlay"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
            More broadly, financial issues are also a fundamental cause of communal conflict between residents in Sidomulyo. Azizah has utilized the Peace Village forums to engage the community regarding debt and borrowing between households.     
            </p>
        </div>
    </div>
</section>

<section id="st-6-9" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-6/st6-8.jpeg"></div>
    <div class="section-bg fixed black-overlay-bottom"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
            With increased awareness of debt avoidance, community members are invited to training and activities on work skills development and financial management.    
            </p>
        </div>
    </div>
</section>

<section id="st-6-10" class="section" data-section="0">
    <div class="section-bg image-bg greyscale lazyload fixed" data-bg="images/st-6/st6-8.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity">
            <p class="quote regular" data-aos="fade-up" data-aos-duration="2000">
                “I tell them don’t go into debt. Go to work and make the money that you need – and that’s where we provide the activities to help them improve their incomes.”
            </p>
        </div>
    </div>
</section>

<section id="st-6-11" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-6/st6-9.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                Azizah has witnessed a significant change over recent years. She says that nowadays, the debt issue is almost non-existent.    
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-6-12" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-6/st6-10.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                Residents in Prancak are developing and expanding their working skills, living more peacefully within a more united community atmosphere.    
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-6-13" class="section book-layout reversed" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-6/st6-11.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                While the challenge of protecting women and children remains, Azizah also hopes that interventions such as her <i>Rumah Ayom</i> can be replicated and refined to ensure a safer environment for all.     
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-6-14" class="section book-layout reversed" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-6/st6-12.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                She has also witnessed a change in herself, and her capacity to approach conflict and tension in a more peaceful manner.    
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-6-15" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-6/st6-13.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text italic">
                    “I feel as if I am wiser in managing conflict. I don’t take issues to heart, and when things don’t go my way, I don’t get so upset. I feel very peaceful.”    
                </p>
            </div>
        </div>
    </div>
</section>