<section id="st-7-1" class="section" data-section="0">
    <div class="section-bg image-bg lazyload" data-bg="images/st-7/st7-1.jpeg"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">07. MEY & DEWI</h3>
        </div>
    </div>
</section>

<section id="st-7-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/L5qVXhWKpnw?playlist=L5qVXhWKpnw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S07_PV_PROFILE_MEY_DEWI_V2.mp4" muted loop playsinline></video>
    </div>
    <div class="section-bg fixed bg-blue-overlay"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote italic">
                    “The Peace Village has changed my mindset. I used to want to just be average, not to stand out. Now I want to act fairly and be a decision-maker, and I know who I am as a young woman.”
                </p>
                <p class="quote ta-right quote-author">- Dewi</p>
            </div>
        </div>
    </div>
</section>

<section id="st-7-3" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-7/st7-3.jpeg"></div>
    <div class="section-bg fixed black-overlay-bottom"></div>
    <div class="content-section d-flex align-bottom">
        <div class="card-box mt-auto">
            <p class="story regular" data-aos="fade-right" data-aos-duration="2000">
                Mey and Dewi were both studying in university when they first got involved in the Peace Village programme in Sidomulyo village. After participating in a number of Peace Village activities, both women built confidence and began utilizing their newfound skills and knowledge to enact change in their community.
            </p>
        </div>
    </div>
</section>

<section id="st-7-4" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-7/st7-4.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text italic">
                “I learned so much about handling conflict and being more tolerant. I realized that I had to be at peace with myself first, then I could work for peace in my environment.”
                <br>
                – Mey
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-7-5" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-7/st7-5.jpeg"></div>
    <div class="section-bg fixed black-overlay-bottom"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular" data-aos="fade-bottom" data-aos-duration="2000">
                Their experience growing up in Sidomulyo shaped how Mey and Dewi approached issues faced by women in their community. Many community members still see women’s role as caregivers at home – the norm that Mey and Dewi wanted to change.
            </p>
        </div>
    </div>
</section>

<section id="st-7-6" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-7/st7-6.jpeg"></div>
    <div class="section-bg fixed black-overlay-bottom"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular" data-aos="fade-bottom" data-aos-duration="2000">
                To do this, they felt that they had to start changing the perceptions held by Sidomulyo’s women themselves. Through the Peace Village Challenge, the young women successfully conducted a workshop called Human Rights School, aiming to provide the women of Sidomulyo with information and ideas regarding their rights and opportunities.
            </p>
        </div>
    </div>
</section>

<section id="st-7-7" class="section" data-section="0">
    <div class="section-bg image-bg greyscale lazyload fixed" data-bg="images/st-7/st7-6.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity">
            <p class="quote regular" data-aos="fade-up" data-aos-duration="2000">
                “Young women here are often underestimated, but we are equal with the men, and our input was valued through Peace Village activities. This was the idea upon which we developed the Human Rights School project.”
                <span>- Dewi</span></p>
        </div>
    </div>
</section>

<section id="st-7-8" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/C2iHXK--AD4?playlist=C2iHXK--AD4&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S07_PV_ACTIVITY_MEY_DEWI_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Mey and Dewi noticed increased conflict between children and their parents – particularly mothers – due to lockdown measures during the COVID-19 pandemic in 2020.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        They again turned to the Peace Village Challenge – this time to support alternative learning opportunities for the village’s children.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                    The Learning Garden project invited youth to learn outside their classrooms and homes and discover that learning activities could be fun and creative.     
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                    Children engaged with the natural environment and learned about human rights and values on diversity, tolerance, and peace.     
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-7-9" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-7/st7-7.jpeg"></div>
    <div class="section-bg fixed bg-blue-overlay"></div>
    <div class="content-section">
        <div class="card-box">
            <p class="quote" data-aos="fade-bottom" data-aos-duration="2000">
                “The children were happier, more relaxed, and friendly towards the teachers and their friends around them. It was a really significant change just from a small environmental adjustment.”
                <span>- Mey</span>
            </p>
        </div>
    </div>
</section>

<section id="st-7-10" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-7/st7-8.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                Mey and Dewi sensed more harmony among neighbours in Sidomulyo village since their engagement in the Peace Village programme.
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-7-11" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-7/st7-9.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                The support of children’s wellbeing is expanded and strengthened, while women are taking a much more proactive role in resolving conflict and building tolerance in the community through the Peace Village Working Group.
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-7-12" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/2S6_nGnAkGw?playlist=2S6_nGnAkGw&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S07_PV_COMMENTS_MEY_DEWI_V2.mp4" controls playsinline></video>
    </div>
</section>

<section id="st-7-13" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-7/st7-10.jpeg"></div>
    <!-- <img class="lazyload" data-src="images/st-7/st7-10.jpeg" alt="img-2" /> -->
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text">
                    For Mey and Dewi, the inclusion and engagement of youth – as the seeds of the community’s future – is imperative for peaceful and tolerant Sidomulyo, as well as for Indonesia as a whole.
                </p>
            </div>
        </div>
    </div>
</section>
