<section id="st-8-1" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-1.jpeg" alt="img-1" />
    <div class="content-section">
        <div class="title-story" data-aos="fade-right" data-aos-duration="2000">
            <h6 class="subtitle">Story</h6>
            <h3 class="title">08. SENDY</h3>
        </div>
    </div>
</section>

<section id="st-8-2" class="section" data-section="0">
    <!-- <video id="v-st-8-2" class="video-background" loop muted>
        </video> -->

    <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/A-1Dyq1C9PI?playlist=A-1Dyq1C9PI&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-section bg-blue-overlay" data-aos="fade-right" data-aos-duration="2000">
        <div class="d-flex align-center">
            <div class="card-box">
                <p class="quote">“The most meaningful thing I have learnt is that women form a strong bridge for positive communication throughout our community.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-3" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-3.jpeg" alt="img-2" />
    <div class="content-section bg-black-overlay d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">It was the experience of a neighbour that drove Sendy to action supporting women in her village of Candirenggo. When the neighbour’s husband was arrested on terrorism charges, she was hardly sighted outside of her home – too embarrassed to engage with the rest of the community.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-4" class="section" data-section="0">
    <img class="greyscale lozad" data-src="images/st-8/st8-3.jpeg" alt="img-2" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity-right" data-aos="fade-left" data-aos-duration="2000">
            <p class="quote regular">“She was really finding things hard because of this. She had no money, no means of support, but she also didn’t want to help herself as she felt such shame due to her husband’s situation.”</p>
        </div>
    </div>
</section>

<section id="st-8-5" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-4.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">Sendy and her women’s group stepped in to help by including her neighbour in their activities, and slowly bringing her back into the community. Through the Peace Village initiative in Candirenggo, the women were offered financing for their home businesses, and Sendy’s neighbour was included within such targeted support.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-6" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-5.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">After re-engaging with the community, Sendy explains that the group has worked with her neighbour to the point she is now an independent and active community member once more.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-7" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-6.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">Through peacebuilding activities delivered through the Peace Village programme, Sendy and her community also drove the establishment of a working group for handling cases of violence towards women and children, as well as a village hotline for those in danger of violence.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-8" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-7.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" />
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-right-small">
            <div class="cardbox-overlay">
                <p class="thin-text" data-aos="fade-left" data-aos-duration="2000">“With increased engagement and opportunity, women became more confident to take action regarding issues such as domestic violence.”</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-9" class="section video-scroll" data-section="0">
    <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/yCnY0VAtEJY?playlist=yCnY0VAtEJY&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">This action was appearing in varying forms.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Through the working group, women realized that taking care of domestic violence issues could be successful at the community level.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Women’s groups were also invited to engage in formal forums and meetings undertaken by the village government.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">These results culminated in the opening of the Ayu Candira Gallery; a community space for women’s empowerment in Candirenggo village.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-8-10" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-8.jpeg" alt="img-2" />
    <div class="content-section bg-black-overlay d-flex align-bottom">
        <div class="d-flex align-bottom">
            <div class="card-box">
                <p class="story regular" data-aos="fade-right" data-aos-duration="2000">Step-by-step, the role of women in the village took on greater meaning, and quickly became a valuable stream for communication between the community and its government representatives.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-11" class="section video-scroll" data-section="0">
    <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/mfTOwSFwqB8?playlist=mfTOwSFwqB8&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section id="st-8-12" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-9.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">The Peace Village’s peacebuilding and livelihoods activities have provided a foundation upon which Sendy and the other women of Candirenggo can continue to grow.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-13" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-10.jpeg" alt="img-2" data-aos="fade-left" data-aos-duration="2000" class="aos-init aos-animate" />
    <div class="content-section align-bottom">
        <div class="d-flex align-center full-height">
            <div class="cardbox-overlay" data-aos="fade-right" data-aos-duration="2000">
                <p class="thin-text">Opportunities for the community’s women will only continue to emerge when they are empowered to become more independent, as has resulted from the programme’s efforts within the village neighbourhoods.</p>
            </div>
        </div>
    </div>
</section>

<section id="st-8-14" class="section" data-section="0">
    <img class="lozad" data-src="images/st-8/st8-11.jpeg" alt="img-2" / data-aos="fade-top" data-aos-duration="2000">
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center">
            <div class="card-box">
                <p class="thin-text italic" data-aos="fade-bottom" data-aos-duration="2000">As challenges will always arise, the women of Candirenggo aim to ensure sustainability for their women’s group, regardless of changing political or social contexts. It is this secure, safe and empowering space that Sendy envisages for all the women of Candirenggo and its surrounds.</p>
            </div>
        </div>
    </div>
</section>
