<section id="st-5-1" class="section" data-section="0">
    <div class="section-bg image-bg lazyload" data-bg="images/st-5/st5-1.jpeg"></div>
    <div class="content-section" data-aos="fade-right" data-aos-duration="2000">
        <div class="title-story">
            <h6 class="subtitle">Chapter</h6>
            <h3 class="title">05. ARIFAH</h3>
        </div>
    </div>
</section>

<section id="st-5-2" class="section" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/CWXOFnRQd84?playlist=CWXOFnRQd84&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S05_PV_PROFILE_ARIFAH_V2.mp4" muted loop playsinline></video>
    </div>
    <div class="section-bg bg-blue-overlay fixed"></div>
    <div class="content-section">
        <div class="card-box">
            <p class="quote">
                “I had heard of the Peace Village concept, but never really understood what it meant. However, once I got involved, I learned many new things that I had never really thought about.”
            </p>
        </div>
    </div>
</section>

<section id="st-5-3" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-3.jpeg"></div>
    <div class="section-bg fixed bg-black-overlay"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
            The influence of the Peace Village initiative in Arifah’s village of Prancak is significant – to both the community and herself. The programme’s activities drove Arifah to be more engaged in her community. Recognising her organisational skills and understanding of the community, she was selected as the head of her neighbourhood – a position often reserved for men before.    
            </p>
        </div>
    </div>
</section>

<section id="st-5-4" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-4.jpeg"></div>
    <div class="section-bg fixed bottom-overlay-opacity"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                In a region where child marriage is normal practice, Arifah utilizes her leadership role to prevent early marriage and advocate for girls’ education.
            </p>
        </div>
    </div>
</section>

<section id="st-5-5" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-5.jpeg"></div>
    <div class="section-bg fixed blue-overlay-right"></div>
    <div class="content-section justify-end">
        <div class="card-box">
            <p class="quote" data-aos="fade-left" data-aos-duration="2000">
                “Many of these issues can be overcome by parents understanding the rights and opportunities for their girls.”
            </p>
        </div>
    </div>
</section>

<section id="st-5-6" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/JWyMWs4Y-3c?playlist=JWyMWs4Y-3c&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S05_PV_ACTIVITY_ARIFAH_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        One of Arifah’s first acts as the neighbourhood head was to organize parenting classes in her community.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Supported by the Peace Village programme, these classes proved beneficial for both the parents and their children. 
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        The training led by Arifah provided comprehensible and culturally appropriate guidance on gender equality and children’s education for Prancak’s parents. 
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        The community recognizes the importance of school for their girls, and many now want to prioritize their children’s education.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="st-5-6" class="section" data-section="0">
    <div class="section-bg image-bg lazyload greyscale fixed" data-bg="images/st-5/st5-7.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="half-full-height-blue-opacity-right">
            <p class="quote regular" data-aos="fade-up" data-aos-duration="2000">
                “So many parents in our village have joined the classes, and they always speak about the value of the new knowledge and skills they receive.”
            </p>
        </div>
    </div>
</section>

<section id="st-5-7" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-7.jpeg"></div>
    <div class="section-bg fixed bottom-overlay-opacity"></div>

    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular" data-aos="fade-top" data-aos-duration="2000">
            As the neighbourhood head, Arifah was also selected to lead Prancak’s Women and Child Protection Unit under the Peace Village programme.        
            </p>
        </div>
    </div>
</section>

<section id="st-5-8" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-5/st5-8.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                She continues to develop the Unit and advocate to the district Regent for its inclusion within formal policy and programming at the village level across the wider region.
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-5-9" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-5/st5-9.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                These roles see Arifah leading not only the women of Prancak village but also numerous men, in a traditionally male-dominated society
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-5-10" class="section book-layout" data-section="0">
    <div class="section-bg fixed lazyload" data-bg="images/bg-toc.png"></div>
    <div class="section-bg book-image fixed lazyload" data-bg="images/st-5/st5-10.jpeg"></div>
    <div class="content-section">
        <div class="text-container">
            <p class="thin-text">
                Arifah credits her inclusive approach to her interactions with the community that she learned through Peace Village training and workshops as the key to navigating some of the gender-based challenges in her new leadership positions.
            </p>
        </div>
        <div class="image-container">
            <!-- <div class="book-image lazyload" data-bg="images/st-1/st1-5.jpeg"></div> -->
        </div>
    </div>
</section>

<section id="st-5-11" class="section video-scroll" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/ZJFeoNzUBWE?playlist=ZJFeoNzUBWE&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/S05_PV_INTERVIEW_ARIFAH_V2.mp4" controls loop playsinline></video>
    </div>
</section>

<section id="st-5-12" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-11.jpeg"></div>
    <div class="section-bg fixed bottom-overlay-opacity"></div>

    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                As Arifah witnesses the change experienced by Prancak’s women, she also reflects on her personal growth. From farming rice to representing her community at government forums where most leaders are male, the change Arifah has experienced is significant. 
            </p>
        </div>
    </div>
</section>

<section id="st-5-13" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-12.jpeg"></div>
    <div class="section-bg fixed half-overlay"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
                Like Arifah, more and more women in Prancak have become active in the community through the Peace Village activities.
            </p>
        </div>
    </div>
</section>

<section id="st-5-14" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-13.jpeg"></div>
    <div class="section-bg fixed half-overlay"></div>
    <div class="content-section">
        <div class="card-box mt-auto">
            <p class="story regular">
            Arifah hopes every woman in her village can take ownership and make decisions about their careers and life. She is now establishing a women’s forum to support members exploring and discussing how to achieve their aspirations.    
            </p>
        </div>
    </div>
</section>

<section id="st-5-15" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-bg="images/st-5/st5-14.jpeg"></div>
    <div class="content-section align-bottom">
        <div class="bottom-overlay d-flex justify-center" data-aos="fade-bottom" data-aos-duration="2000">
            <div class="card-box">
                <p class="thin-text italic">
                    “I’ve learned to use my voice. I’ve learned to advocate respectfully and softly, but to always have a voice. Now, I have confidence, as a woman, to use this voice.” 
                </p>
            </div>
        </div>
    </div>
</section>
