<section id="vo-4-1" class="section" data-section="0">
    <img src="images/vo-cr.png" alt="img-2" />
    <img class="image-fixed half-opacity fade fadeIn" src="images/overlay.png" alt="img-2" />
    <div class="cross">
        <div class="content-section blue-overlay">
            <div class="center-box box-center ta-center">
                <!-- <div class="video-box">
                      <video id="v-vo-4-1" class="video-background" loop muted>
                      </video>
                    </div> -->

                <!-- <div class="video-box">
                <iframe width="1664" height="300" src="https://www.youtube.com/embed/8BFZt1coGnk?playlist=8BFZt1coGnk&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> -->
                <h3 class="main-title-story" data-aos="fade-down" data-aos-duration="2000">CANDIRENGGO</h3>
                <p class="subtitle-story" data-aos="fade-up" data-aos-duration="2000">VILLAGE</p>
            </div>
        </div>
    </div>
</section>

<section id="vo-4-2" class="section video-scroll" data-section="0">
    <!-- <video id="v-vo-4-2" class="video-background" loop muted>
              </video> -->

    <div class="bg-video">
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/9Ofe-DfdMnc?playlist=9Ofe-DfdMnc&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Just north of Malang City, Candirenggo village has been constantly challenged to balance its diversity with its citizen’s more traditional beliefs and practices.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">To counter an increase in conflict and disharmony over recent years, the Peace Village programme has empowered women in the community to become leaders and drivers of peace and tolerance at the village level.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Women’s groups have developed safe spaces for women to have a more profound voice in village affairs, while youth have also become more central to peacebuilding efforts, resulting in a more inclusive and harmonious environment for all community members in Candirenggo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
