<section id="vo-1-1" class="section" data-section="0">
    <div class="section-bg lazyload fixed" data-bg="images/int-8.jpeg"></div>
    <div class="section-bg blue-overlay fixed"></div>
    <!-- <img class="lazyload" data-src="images/int-8.jpeg" alt="img-2" /> -->
    <div class="cross">
        <div class="content-section">
            <div class="center-box box-center ta-center">
                <!-- <div class="video-box">
                <iframe width="1664" height="300" src="https://www.youtube.com/embed/m5-wlHZGFcs?playlist=m5-wlHZGFcs&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> -->
                <h3 class="main-title-story" data-aos="fade-down" data-aos-duration="2000">GULUK-GULUK</h3>
                <p class="subtitle-story" data-aos="fade-up" data-aos-duration="2000">VILLAGE</p>
            </div>
        </div>
    </div>
</section>

<section id="vo-1-2" class="section video-scroll" data-section="0">
    <!-- <video id="v-intr-13" class="video-background" loop muted>
        </video> -->
    <div class="bg-video section-bg  fixed">
        <video class="lazyload" src="video/VL01_VILLAGE_GULUKGULUK_V2.mp4" muted loop playsinline></video>
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/A6GZVy-E8d8?playlist=A6GZVy-E8d8&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Located in the Sumenep region on Madura Island, Guluk-Guluk village is traditionally known for ongoing community conflict and tension, often related to local politics.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Through the Peace Village programme, women participated in economic empowerment activities that increased their standing and voice in their community, resulting in successful peacebuilding and conflict resolution efforts.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Women and girls are now approaching the village’s political conflicts head-on, ensuring more harmonious and peaceful relationships within Guluk-Guluk village.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>