<section id="vo-2-1" class="section" data-section="0">
    <img src="images/vo-prancak.png" alt="img-2" />
    <img class="image-fixed half-opacity fade fadeIn" src="images/overlay.png" alt="img-2" />
    <div class="cross">
        <div class="content-section blue-overlay">
            <div class="center-box box-center ta-center">
                <!-- <div class="video-box">
                 <iframe width="1664" height="300" src="https://www.youtube.com/embed/rfwKcNd9vU0?playlist=rfwKcNd9vU0&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> -->
                <h3 class="main-title-story" data-aos="fade-down" data-aos-duration="2000">PRANCAK</h3>
                <p class="subtitle-story" data-aos="fade-up" data-aos-duration="2000">VILLAGE</p>
            </div>
        </div>
    </div>
</section>

<section id="vo-2-2" class="section video-scroll" data-section="0">
    <!-- <video id="v-vo-2-2" class="video-background" loop muted>
        </video> -->
    <div class="bg-video">
        <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/oVDuF6MQ7To" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <iframe width="1664" height="770" src="https://www.youtube.com/embed/7yeFEcijvxo?playlist=7yeFEcijvxo&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- <iframe width="1664" height="770" src="https://www.youtube.com/embed/7yeFEcijvxo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">For women in Prancak village, in Madura island’s Sumenep region, patriarchy has often hindered their engagement in social and political life.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">The establishment of strong women’s groups through the Peace Village programme formed a key driver for change, supporting women to take on increasing responsibility and leadership across Prancak village and its institutions.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Now, women take leading roles in their neighbourhoods and village groups, working towards ending domestic violence and increasing protection for women and children in Prancak.</p>
                </div>
            </div>
        </div>
    </div>
</section>
