<section id="vo-2-1" class="section" data-section="0">
    <div class="section-bg image-bg lazyload fixed" data-background-image="images/vo-prancak.jpeg"></div>
    <div class="section-bg blue-overlay fixed"></div>
    <div class="cross">
        <div class="content-section">
            <div class="center-box box-center ta-center">
                <h3 class="main-title-story" data-aos="fade-down" data-aos-duration="2000">PRANCAK</h3>
                <p class="subtitle-story" data-aos="fade-up" data-aos-duration="2000">VILLAGE</p>
            </div>
        </div>
    </div>
</section>

<section id="vo-2-2" class="section video-scroll fp-auto-height" data-section="0">
    <div class="bg-video section-bg fixed">
        <!-- <iframe class="lazyload" width="1664" height="770" data-src="https://www.youtube.com/embed/7yeFEcijvxo?playlist=7yeFEcijvxo&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video class="lazyload" src="video/VL02_VILLAGE_PRANCAK_V2.mp4" muted loop playsinline></video>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                        Not far from Guluk-Guluk village in the Sumenep region, women in Prancak village share similar challenges as Guluk-Guluk – patriarchal culture often hinders their social and political life engagement.
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                    Through the Peace Village program, the establishment of women’s groups formed a key driver for change, supporting women to increase responsibility and leadership across Prancak village and its institutions.    
                    </p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">
                    Now, women take leading roles in their neighbourhoods and village groups, working towards ending domestic violence, and increasing protection for women and children in Prancak.    
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
