<section id="vo-3-1" class="section" data-section="0">
    <img class="lozad" src="images/vo-sm.jpeg" alt="img-2" />
    <img class="image-fixed half-opacity fade fadeIn lozad" data-src="images/overlay.png" alt="img-2" />
    <div class="cross">
        <div class="content-section blue-overlay">
            <div class="center-box box-center ta-center">
                <!-- <div class="video-box">
                <video id="v-vo-3-1" class="video-background" loop muted>
                </video>
              </div> -->

                <!-- <div class="video-box">
                <iframe width="1664" height="300" src="https://www.youtube.com/embed/tk8PP2qrNBc?playlist=tk8PP2qrNBc&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div> -->
                <h3 class="main-title-story" data-aos="fade-down" data-aos-duration="2000">SIDOMULYO</h3>
                <p class="subtitle-story" data-aos="fade-up" data-aos-duration="2000">VILLAGE</p>
            </div>
        </div>
    </div>
</section>

<section id="vo-3-2" class="section video-scroll" data-section="0">
    <div class="bg-video">
        <iframe class="lozad" width="1664" height="770" data-src="https://www.youtube.com/embed/hivMU42gOI4?playlist=hivMU42gOI4&loop=1&autoplay=1&playsinline=1&controls=0&disablekb=0&modestbranding=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-section align-center">
        <div class="center-box d-flex">
            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">On the outskirts of Batu City, Sidomulyo village has often faced issues for women and children related to poverty and low levels of education for many of its residents.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">By engaging women and youth, the Peace Village programme focused towards directly protecting women and children, while also approaching the causes of community conflict, including working with households to generate income rather than taking loans.</p>
                </div>
            </div>

            <div class="list-scroll">
                <div class="list-box-opacity">
                    <p class="thin-text">Women are central to the Peace Village efforts that include income development training, as well as protection and improvement of education opportunities for Sidomulyo’s children.</p>
                </div>
            </div>
        </div>
    </div>
</section>
