<div id="welcome">
    <div class="content-section">
        <div class="content-wrapper">
            <div>
                <img src="images/icon-volume.png" alt="" />
            </div>
            <div>Turn on your speakers to enjoy the video and audio in this digital storybook.</div>
            <div>
                <img src="images/icon-arrow-bottom.png" alt="" />
            </div>
            <div>Please scroll down with your mouse, use your keyboard’s arrow keys, or click on the navigation sidebar to explore the stories in the following pages.</div>
            <div>
            <a href="#" id="welcome-continue-btn"> Start Reading </a>
            </div>
        </div>
    </div>
</div>
