$font-size-mobile: 18px;
.thin-text {
    font-size: 21px;
    font-weight: 100;

    @include media-breakpoint-down(md) {
        font-size: $font-size-mobile;
    }
}

.story.regular {
    font-size: 21px;
    font-weight: 100;
    @include media-breakpoint-down(md) {
        font-size: $font-size-mobile;
    }
}

.main-title-story {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    @include media-breakpoint-down(md) {
        font-size: 40px;
    }
}

.subtitle-story {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 0;
    @include media-breakpoint-down(md) {
        font-size: 24px;
    }
}

.content-section {
    p.quote {
        font-size: 36px;
        // max-width: 50%;
        text-align: center;
        font-weight: 300;
        font-style: italic;
        @include media-breakpoint-down(md) {
            margin-top: auto;
            font-size: 24px;
            max-width: 100%;
        }
    }
}
