d-flex {
    display: flex;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-strech {
    align-items: stretch;
}

.align-bottom {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.align-top {
    align-items: flex-start;
}

.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.ml-auto {
    margin-left: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.resize-overlay {
    z-index: 9999999;
    background-color: rgba($color-blue-dark, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s opacity ease-in-out;
    visibility: hidden;
}
.resize{
    .resize-overlay {
        opacity: 1;
        visibility: visible;
    }
}
